/* Add custom CSS styles below */ 
/* Add custom CSS styles below */ 
/*
################################
##                            ##
##    MADE BY Cheikho Abidin  ##
##                            ##
################################
 https://wa.me/22220523820
(◠‿◠)*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
 font-family: 'Tajawal', sans-serif ;   
}
 .title--small {
    font-family: 'Tajawal', sans-serif;
     font-weight: 400;
}footer.footer:before {
    content: " ";
    background-image: url(https://drive.google.com/uc?id=12FtB3_a1johi_WLGBl_3J-UlX5-GnAwf)!important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 100px;
    background: #262424;
}footer.footer {
    background-color: #262424;
}footer.footer * {color:#fff !important;}.title--has-dash:before {
    background: #262424 !important;
}.footer__bottom {
    background: #262424;
}.badge--danger {
    background: #18b6a1;
}.testimonial-entry *{text-align: center;font-weight: bold;}.testimonial-entry {
    justify-content: center;
    align-items: center;
}.testimonial-entry__info {
    width: 100%;
    margin: auto;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.avatar-wrapper--small {box-shadow: 0px 0px 16px #26242454;padding: 4px;margin: 5px;border: 1px solid #262424;width: 80px;height: 80px;display: flex;justify-content: center;align-items: center;}
.testimonial-entry__excerpt p {
    color: #262424;
}.testimonial-entry {
    border-radius: 30px;
    box-shadow: 0px 0px 8px #00000017;
    position: relative;
    margin: 8px 1px;
    margin-bottom: 0px;
}.testimonial-entry:before {
 content:
 " ";
 display: block;
 position: absolute;
 width: 40px;
 height: 40px;
 top: 20px;
 right: 40px;
 background: url(https://cdn.salla.sa/xBgYw/T1WvSbDrKg01W9b6ZhmVF70Zy8f2il8Nmtp2a4UX.png) no-repeat;
 z-index: 100;
 background-size: contain;
 background-position: center;
}body > section.home-block.home-block--bg.home-block--testimonials.no-m > div > div:nth-child(1) > div > div {
    text-align: center;
}@keyframes float {
 0% {
  transform: translatey(0px);
 }
 50% {
  transform: translatey(-20px);
 }
 100% {
  transform: translatey(0px);
 }
}@keyframes shadeanm {
 0% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
 50% {
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
 }
 100% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
}.store-feature__icon{
    background: linear-gradient(288deg, #262424 34%, #000 100%);
    animation: float 4s ease-in-out infinite, shadeanm 4s ease-in-out infinite;
    color: #ffffff;
}@media (max-width: 576px){
 section.home-block.home-block--store-features .col-sm-12 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 0%;
    font-weight: bold;
}.home-block--store-features .container .row .col-sm-12 .store-feature .title--large {
    font-size: 17px !important;
}.home-block--store-features .container .row .col-sm-12 .store-feature p {
    font-size: 12px !important;
}}.product-block .btn--add-to-cart {
    position: initial;
    display: block;
    border-radius: 50px;
    padding: 3px 0!important;
    width: 90%!important;
    height: auto!important;
    margin: 8px auto 10px auto!important;
    padding: 5px !important;
    border: 2px solid var(--color-primary);
    background: no-repeat;
}.product-block .btn--add-to-cart:not(.disabled) i:after {
    content: 'اضف للسلة';
    margin-inline: 0.5rem;
    font-family: 'Tajawal';
    font-weight: bold;
}.s-button-text {
    display: block;
    pointer-events: visible;
    overflow: visible;
    text-overflow: unset;
    white-space: nowrap;
    color: var(--color-primary);
    font-weight: bold !important;
    font-size: 14.5px;
}.product-block .btn--add-to-cart:hover .s-button-text{
  color: #fff;
}.product-block .btn--add-to-cart:hover {
    background: var(--color-primary);
}.header-side-panel-trigger,header .site-header__cart .price,header .site-header__cart i {
    font-size: 26px;
    color: #262424;
}.sicon-cart:before {
    content: "\ef36";
}.placeholder-block.white i:before {
    background: url(https://cdn.salla.sa/xBgYw/T1WvSbDrKg01W9b6ZhmVF70Zy8f2il8Nmtp2a4UX.png) no-repeat;
    background-size: 76%;
    width: 162px;
    height: 122px;
    display: block;
    background-position: center;
    color: transparent;
}.btn.btn--wide.btn--padded.btn--oval.btn--primary::before ,.btn.btn--wide.btn--padded.btn--oval.btn--primary::after{
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    background: #262424;
    position: absolute;
    top: 18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: -1;
    transition:  left, right ,0.9s ease-in-out;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary::before {
    right: -10%;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary::after {
    left: -10%;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover::before{
    right: 0%;
    border-radius: 0;
    height: 120px;
    top: -10px;
    width: 400px;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover::after{
    left:0%;
    border-radius: 0;
    height: 120px;
    top: 20px;
    width: 400px;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover{
    color: #fff;
    overflow: hidden;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary {
     background: no-repeat;
     border: 2px solid #262424;
     color: #262424;
     overflow: hidden;
     position:relative;
     width:80%;
     margin:auto;
 }.splide--testimonials .splide__list {
    padding-bottom: 10px !important;
}.s-cart-summary-icon svg {
    fill: #272525;
    width: 2rem;
    height: 1.70rem;
}.footer .footer-list--payment-methods li img {
    border-radius: 5px;
    background: #fff;
    margin: 5px;
    padding: 2px;
    outline: 2px solid #fff;
}.footer .footer-list--payment-methods {
    overflow: visible;
}.side-panel__content .d-flex{
    display: block !important;
    text-align: center;
}.side-panel .store-about img {
    margin: auto;
    margin-bottom: 20px;
    max-width: 150px;
}header.fixed-pinned .site-header{
    background: #ffffff;
}.title--has-dash:before {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
}input.s-quantity-input-input {
    background: #f5f7f9;
}button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-end span {
    color: #fff;
}.product-block {
    border-radius: 20px;
    box-shadow: 0px 0px 5px #2c0f0f24;
}.tamara-product-widget, .spotii-wrapper{
     box-shadow: 0px 0px 5px #2c0f0f24;
     border-radius: 20px !important;
}div#tabbyPromoWrapper {
    border: 2px solid #eee;
    border-right: 4px solid #3bffc0;
    border-radius: 15px;
}.btn--tag {
    background: #262424;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 11px;
    padding: 5px 10px !important;
}.nav-desktop--horizontal>ul .menu-item>a {
    font-weight: bold;
}ul.footer-list.store-links-items {
    display: grid;
    grid-template-columns: 2fr 2fr;
}ul.footer-list.store-links-items li {
    margin-right: 15px;
    padding: 4px;
    display: block;
}ul.footer-list.store-links-items li a {
    background: #6e6c6c4f;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
}.spotii-wrapper * {
    color: #262424 !important;
}.spotii-wrapper {
    border-bottom: 4px solid #262424;
}
.tamara-product-widget {border-top-color: #2624248a !important;border-width: 4px !important;}
.site-header {
    background: #ffffff;
    overflow: hidden;
}button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-center span {
    color: #fff !important;
}.nav-mobile .main-nav li a *,.nav-mobile .main-nav li a {
    font-weight: bold;
    color: #ffffff !important;
}header .site-header__wrapper .theme-logo span {display: none;}
.nav-mobile .main-nav {
    background: #262424;
    backdrop-filter: blur(5px);
}.side-panel.mobile-side-panel .side-panel__content {
    background: #262424f5;
    align-items: center;
}.side-panel.mobile-side-panel .side-panel__content * {
    color: #fff;
}.footer__block ul.footer-list.footer-list--row.footer-list--social-links:before {
    background: url(https://dev-eitara.odoo.com/web_editor/shape/web_editor/Floats/05.svg?c1=%23007564&c2=%2300C2A5&c3=%23f8f8f8&c5=%23007564) no-repeat;
    background-size: cover;
    background-position: inherit;
    width: 100%;
    height: 240px;
    content: "";
    display: block;
    position: absolute;
    opacity: 0.2;
}p.text-gray-400.mb-2\.5.md\:mb-0 a.hover\:text-primary {
    display: none;
}.price-wrapper span {
    background: #262424;
    display: inline-block;
    padding: 6px;
    width: 98px;
    color: #f3b355 !important;
    text-align: center;
    border-radius: 10px 0 10px 0px;
    font-size: 16px;
}section.home-block.home-block--store-features .col-sm-12 {flex: auto;}
.store-feature {
    text-align: center;
    background: #fff;
    padding: 40px 10px;
    border: 25px solid #f5f5f5;
    border-radius: 45px;
    height: 320px;
    border-top-left-radius: 30px;
    position: relative;
}.store-feature:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 70px;
    border-top: 10px solid #262424;
    border-left: 10px solid #262424;
    border-radius: 8px;
    height: 70px;
    z-index: 0;
}span.s-button-text.s-infinite-scroll-btn-text.s-button-show {
    color: #fff;
}.product-block .btn--add-to-cart {
    color: #fff;
    background: #262424;
}.s-button-text {
    color: #fff;
}.btn--grey {
    color: #fff;
    background: #262424 !important;
}header .site-header__cart a {
    color: #fff;
}.product-sections-wrapper {
    box-shadow: 0px 0px 16px #26242436;
    border-radius: 28px;
    background: url(https://dev-eitara.odoo.com/web_editor/shape/web_editor/Floats/05.svg?c1=%23007564&c2=%2300C2A5&c3=%23f8f8f8&c5=%23007564) no-repeat;
    background-size: cover;
    background-position: inherit;
    width: 100%;
    background-color: #2624242e;
}.s-quantity-input-button {
    background: #262424;
    border-radius: 11px;
}.s-quantity-input-button span svg {
    fill: #fff !important;
}span.s-cart-summary-count {
    background: #eeae53;
}.store-about.d-flex.mb-40 img {display:none;}
#header-mobiel-nav > div > div.store-about.d-flex.mb-40:before{
     content: " ";
     display: flex;
     width: 90px;
     height: 60px;
     background: url(https://h.top4top.io/p_262353xvo1.png) no-repeat;
     transform: scale(1.7);
     background-size: contain;
     margin: auto;
     margin-bottom: 30px;
     margin-top: 60px;
}@keyframes wiggle {0%, 7% {transform: rotateZ(0);}15% {
        transform: rotateZ(-15deg);
    }20% {transform: rotateZ(10deg);}25% {
        transform: rotateZ(-10deg);
    }30% {transform: rotateZ(6deg);}35% {transform: rotateZ(-4deg);}40%, 100% {transform: rotateZ(0);
    }}header .site-header .theme-logo a img {
    margin-right: 15px;
    position: relative;
    left: calc(50% - 3em);
    transform-origin: 50% 5em;
    animation: wiggle 2s infinite;
}
@media (max-width:760px){
body > section.home-block.home-block--square-images > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}body > section.home-block.home-block--square-images > div > div div {padding-left: 3px;padding-right: 1px;margin-bottom: -25px !important;}
}
