/* Add custom CSS styles below */ 
/*
################################
##                            ##
##    MADE BY Cheikho Abidin  ##
##                            ##
################################
 https://wa.me/22220523820
(◠‿◠)*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
 font-family: 'Tajawal', sans-serif ;   
}
 .title--small {
    font-family: 'Tajawal', sans-serif;
     font-weight: 400;
}
@keyframes logobg {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    78% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
}}
body.index:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #98bcf77d url(https://www13.0zz0.com/2023/03/02/14/980229309.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    transform: scale(0);
    background-size: 120px !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 3s;
    backdrop-filter: blur(4px);
}footer.footer:before {
    content: " ";
    background-image: url(https://drive.google.com/uc?id=12FtB3_a1johi_WLGBl_3J-UlX5-GnAwf)!important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 100px;
    background: #192436;
}footer.footer {
    background-color: #192334;
}footer.footer * {color:#fff !important;}.title--has-dash:before {
    background: #192436 !important;
}.footer__bottom {
    background: #192436;
}.badge--danger {
    background: #18b6a1;
}.testimonial-entry *{text-align: center;font-weight: bold;}.testimonial-entry {
    justify-content: center;
    align-items: center;
}.testimonial-entry__info {
    width: 100%;
    margin: auto;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.avatar-wrapper--small {box-shadow: 0px 0px 16px #19243654;padding: 4px;margin: 5px;border: 1px solid #192436;width: 80px;height: 80px;display: flex;justify-content: center;align-items: center;}
.testimonial-entry__excerpt p {
    color: #192436;
}.testimonial-entry {
    border-radius: 30px;
    box-shadow: 0px 0px 8px #00000017;
    position: relative;
    margin: 8px 1px;
    margin-bottom: 0px;
}.testimonial-entry:before {
 content:
 " ";
 display: block;
 position: absolute;
 width: 40px;
 height: 40px;
 top: 20px;
 right: 40px;
 background: url(https://www13.0zz0.com/2023/03/02/14/980229309.png) no-repeat;
 z-index: 100;
 background-size: contain;
 background-position: center;
}body > section.home-block.home-block--bg.home-block--testimonials.no-m > div > div:nth-child(1) > div > div {
    text-align: center;
}@keyframes float {
 0% {
  transform: translatey(0px);
 }
 50% {
  transform: translatey(-20px);
 }
 100% {
  transform: translatey(0px);
 }
}@keyframes shadeanm {
 0% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
 50% {
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
 }
 100% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
}.store-feature__icon{
    background: linear-gradient(288deg, #192436 34%, #000 100%);
    animation: float 4s ease-in-out infinite, shadeanm 4s ease-in-out infinite;
    color: #ffffff;
}@media (max-width: 576px){
 section.home-block.home-block--store-features .col-sm-12 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 0%;
    font-weight: bold;
}.home-block--store-features .container .row .col-sm-12 .store-feature .title--large {
    font-size: 17px !important;
}.home-block--store-features .container .row .col-sm-12 .store-feature p {
    font-size: 12px !important;
}}.product-block .btn--add-to-cart {
    position: initial;
    display: block;
    border-radius: 50px;
    padding: 3px 0!important;
    width: 90%!important;
    height: auto!important;
    margin: 8px auto 10px auto!important;
    padding: 5px !important;
    border: 2px solid var(--color-primary);
    background: no-repeat;
}.product-block .btn--add-to-cart:not(.disabled) i:after {
    content: 'اضف للسلة';
    margin-inline: 0.5rem;
    font-family: 'Tajawal';
    font-weight: bold;
}.s-button-text {
    display: block;
    pointer-events: visible;
    overflow: visible;
    text-overflow: unset;
    white-space: nowrap;
    color: var(--color-primary);
    font-weight: bold !important;
    font-size: 14.5px;
}.product-block .btn--add-to-cart:hover .s-button-text{
  color: #fff;
}.product-block .btn--add-to-cart:hover {
    background: var(--color-primary);
}header .site-header .theme-logo a img {
    transform: scale(1.1);
}.header-side-panel-trigger,header .site-header__cart .price,header .site-header__cart i {
    font-size: 26px;
    color: #ffffff;
}.sicon-cart:before {
    content: "\ef36";
}.placeholder-block.white i:before {
    background: url(https://www13.0zz0.com/2023/03/02/14/980229309.png) no-repeat;
    background-size: 83%;
    width: 162px;
    height: 122px;
    display: block;
    background-position: center;
    color: transparent;
}.btn.btn--wide.btn--padded.btn--oval.btn--primary::before ,.btn.btn--wide.btn--padded.btn--oval.btn--primary::after{
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    background: #192436;
    position: absolute;
    top: 18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: -1;
    transition:  left, right ,0.9s ease-in-out;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary::before {
    right: -10%;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary::after {
    left: -10%;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover::before{
    right: 0%;
    border-radius: 0;
    height: 120px;
    top: -10px;
    width: 400px;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover::after{
    left:0%;
    border-radius: 0;
    height: 120px;
    top: 20px;
    width: 400px;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover{
    color: #fff;
    overflow: hidden;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary {
     background: no-repeat;
     border: 2px solid #192436;
     color: #192436;
     overflow: hidden;
     position:relative;
     width:80%;
     margin:auto;
 }.splide--testimonials .splide__list {
    padding-bottom: 10px !important;
}.s-cart-summary-icon svg {
    fill: #ffffff;
    width: 2rem;
    height: 1.70rem;
}.footer .footer-list--payment-methods li img {
    border-radius: 5px;
    background: #fff;
    margin: 5px;
    padding: 2px;
    outline: 2px solid #fff;
}.footer .footer-list--payment-methods {
    overflow: visible;
}.side-panel__content .d-flex{
    display: block !important;
    text-align: center;
}.side-panel .store-about img {
    margin: auto;
    margin-bottom: 20px;
    max-width: 150px;
}header.fixed-pinned .site-header{
    background: #192436ba;
    backdrop-filter: blur(5px);
}.title--has-dash:before {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
}input.s-quantity-input-input {
    background: #f5f7f9;
}button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-end span {
    color: #fff;
}.product-block {
    border-radius: 20px;
    box-shadow: 0px 0px 5px #2c0f0f24;
}.tamara-product-widget, .spotii-wrapper{
     box-shadow: 0px 0px 5px #2c0f0f24;
     border-radius: 20px !important;
}div#tabbyPromoWrapper {
    border: 2px solid #eee;
    border-right: 4px solid #3bffc0;
    border-radius: 15px;
}.btn--tag {
    background: #192436;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 11px;
    padding: 5px 10px !important;
}.nav-desktop--horizontal>ul .menu-item>a {
    font-weight: bold;
}
ul.footer-list.store-links-items {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
ul.footer-list.store-links-items li {
    margin-right: 15px;
    padding: 4px;
    display: block;
}
ul.footer-list.store-links-items li a {
    background: #ee99649c;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
}.spotii-wrapper * {
    color: #192436 !important;
}.spotii-wrapper {
    border-bottom: 4px solid #192436;
}
.tamara-product-widget {border-top-color: #1924368a !important;border-width: 4px !important;}
.site-header {
    background: #192436;
}button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-center span {
    color: #fff !important;
}.nav-mobile .main-nav li a *,.nav-mobile .main-nav li a {
    font-weight: bold;
    color: #ffffff;
}header .site-header__wrapper .theme-logo span {display: none;}
.nav-mobile .main-nav {
    background: #192334;
    backdrop-filter: blur(5px);
}.side-panel.mobile-side-panel .side-panel__content {
    background: #192436f5;
    align-items: center;
}.side-panel.mobile-side-panel .side-panel__content * {
    color: #fff;
}.footer__block ul.footer-list.footer-list--row.footer-list--social-links:before {
    background: url(https://dev-eitara.odoo.com/web_editor/shape/web_editor/Floats/05.svg?c1=%23007564&c2=%2300C2A5&c3=%23f8f8f8&c5=%23007564) no-repeat;
    background-size: cover;
    background-position: inherit;
    width: 100%;
    height: 240px;
    content: "";
    display: block;
    position: absolute;
    opacity: 0.2;
}p.text-gray-400.mb-2\.5.md\:mb-0 a.hover\:text-primary {
    display: none;
}
