/* Add custom CSS styles below */
body,body>section,head,html {
    overflow-x: hidden!important
}body>section:nth-of-type(2) .container,body>section:nth-of-type(3) .container {
    padding-right: 0!important;
    padding-left: 0!important
}body>section:nth-of-type(2) h2 {
    text-align: center!important;
    position: relative
}.salla-theme_6>section:nth-of-type(2) h2.section--title span {
    position: relative;
    padding: 10px 85px!important
}body.salla-theme_6>section:nth-of-type(2) {
    padding-bottom: 0!important
}body.salla-theme_6>section:nth-of-type(3) {
    padding-top: 0!important
}.section .category-grid {
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}.section .category-grid div {
    width: 100%;
    height: 100%;
    height: auto;
    flex-basis: 50%;
    padding: 2px
}.salla-theme_6 .category-grid>div .category-featured {
    height: auto!important;
    border-radius: 0!important
}.salla-theme_6 .category-grid>div .category-featured img.cat-featured-img {
    border-bottom: 5px solid #c4a156!important;
    border-radius: 1px 20px
}@media screen and (min-width: 991px) {
    body.salla-theme_6>section:nth-of-type(2) {
        padding-bottom:15px!important
    }

    .section .category-grid div {
        flex-basis: calc(96% / 3)!important
    }

    .salla-theme_6 .category-grid>div .category-featured a {
        width: 100%;
        border-bottom: 5px solid #c4a156!important;
        border-radius: 1px 20px;
        min-height: 118px;
        background-size: 100% 100%
    }
}@media screen and (min-width: 1200px) {
    .salla-theme_6 .category-grid>div .category-featured a {
        min-height:142px
    }
}.main-menu {
    background-color: #fff!important;
    color: red
}.header-top {
    border-bottom: 0 solid transparent
}.add_to_cart_large_btn {
    color: #c4a156;
    background-color: #101626!important
}.theme-icon-phone {
    background-color: red!important;
    display: none!important;
    opacity: 0!important
}@media only screen and (max-width: 991px) {
    .sub-nav .sub-nav-content .main-menu>li {
        border-bottom:0 solid #fff
    }

    .sub-nav .main-menu li.sub-menu-header.categories-holder>span {
        border-top: 0 solid #fff;
        color: #c4a156!important
    }
}.sicon-cart {
    color: #101626;
}.footer-main {
    background-color: #101626;
    color: #c4a156!important
}section[data-type=banner] {
    background-color: #101626
}.salla-theme_6 footer .footer-title span {
    color: #c4a156!important
}.th-main-phone-no {
    opacity: 0!important;
    display: none
}.salla-theme_6 .product .product-footer .product-add.add_to_cart_btn span:first-child {
    color: #c4a156
}.sub-nav {
    color: gold!important
}.container-fluid {
    padding-right: 0;
    padding-left: 0
}.bg-brand {
    background-color: #f6f6f6
}.text-white {
    color: #101626!important
}.sub-nav a {
    color: #e9c06c
}.products-listing {
    background-color: transparent;
    border: 0 solid transparent
}.section--title {
    text-align: center;
    color: #101626!important
}.section--title span {
    border-bottom: 2px solid #c4a156;
    padding-bottom: 5px
}.section-actions a {
    background-color: #101626!important;
    color: #fff;
    border: 1px solid #e9c06c;
    box-shadow: 0 0 5px 2px rgba(233,192,108,.8)
}.section-actions a:hover {
    color: #e9c06c
}.salla-theme_6 .section-header .section-actions .button-more {
    color: #fff
}.salla-theme_6 .section-header .section-actions .button-more:hover {
    color: #e9c06c
}.salla-theme_6 footer .store-contact a {
    color: #c4a156!important
}.salla-theme_6 footer .store-contact a i {
    color: #fff!important
}.salla-theme_6 .product .product-footer .product-add.add_to_cart_btn {
    background-color: #101626;
    color: #c4a156!important;
    border-radius: 5px 20px!important;
    border-bottom: 5px solid #c4a156
}.add_to_cart_large_btn::hover {
    background-color: #a4864c
}.theme-icon-cart {
    color: #c4a156!important;
    fill: #c4a156!important
}.site-header__cart {
    color: #c4a156!important
}.salla-theme_6.color-mode-light .site-header .sub-header * {
    color: #c4a156!important
}svg {
    fill: #c4a156!important;
}.a2a_button_whatsapp {
    display: none!important;
    opacity: 0!important
}.product {
    border: .8px solid rgba(233,192,108,.7)!important;
    border-radius: 2px 25px!important
}.product:hover {
    box-shadow: 0 0 5px 2px rgba(233,192,108,.8)
}.product-details__social-share {
    background-color: red;
    opacity: 0;
    height: 0
}.product-details .row .col-md-6:nth-child(2) {
    display: flex;
    flex-direction: column
}.product-details .row .col-md-6:nth-child(2) div:nth-child(3) {
    order: 1
}.product-details .row .col-md-6:nth-child(2) div:nth-child(4) {
    order: 2
}.product-details .row .col-md-6:nth-child(2) div:first-child {
    order: 4
}.product-details .row .col-md-6:nth-child(2) div:nth-child(2) {
    order: 5
}.product-details .row .col-md-6:nth-child(2) div:nth-child(5) {
    order: 3
}.product-details .row .col-md-6:nth-child(2) div:nth-child(6) {
    order: 6
}.product-details__hot .text-semibold {
    float: bottom;
    display: block
}@media only screen and (max-width: 991px) {
    .product-details .row .col-md-6:nth-child(2) div:nth-child(3) {
        text-align:center
    }.product-details .row .col-md-6:nth-child(2) div:nth-child(4) {
        text-align: center
    }.product {
        border: 1px solid rgba(0,0,0,.4)
    }.main-menu li i {
        color: #fff
    }.product-details .row .col-md-6:nth-child(2) div:nth-child(5) {
        text-align: center
    }.product-details .row .col-md-6:nth-child(2) div:nth-child(4) strong span {
        margin: 0 10px 0 5px
    }
}@media only screen and (min-width: 992px) {
    .sub-nav a {
        color:#c4a156!important
    }
}.product-details__hot {
    color: red!important
}.product-details__hot strong {
    color: red!important
}.rating-stars {
    color: #fdcc0d!important
}.offers-link {
    color: red!important;
    border-radius: 4px
}.salla-theme_6 .sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories>li {
    border-bottom: .2px solid rgba(255,255,255,.25)
}.product .contain {
    background-color: red;
    border-radius: 30px!important;
    border: 5px solid red
}:root {
    --primary-color: #101626!important;
    --secondary-color: #f5c37f!important
}.site-header {
    background: var(--primary-color)!important
}
.main-menu {
    background-color: var(--primary-color)!important
}.salla-theme_6 .sub-nav .main-menu>li>a {
    color: var(--secondary-color)!important;
    font-size: 16px!important;
    font-weight: 600;
    background: var(--primary-color)!important;
    border: 2px solid var(--secondary-color)!important;
    border-radius: 0 30px;
    padding: 7px 25px 8px 25px!important;
    margin-bottom: 10px!important
}.salla-theme_6 .sub-nav .main-menu>li>a:hover {
    color: #101626!important;
    font-size: 16px!important;
    font-weight: 600;
    background: var(--secondary-color)!important;
    border: 2px solid #fff!important;
    border-radius: 0 30px;
    padding: 7px 20px 8px 20px!important;
    margin-bottom: 10px!important
}.salla-theme_6 .sub-nav .main-menu>li#offers a {
    color: red!important;
    background: #fff!important;
    border: 3px solid var(--secondary-color)!important;
    border-radius: 0 30px;
    padding: 6px 25px 8px 25px!important
}.salla-theme_6 .sub-nav .main-menu>li#offers a:hover {
    color: red!important;
    background: var(--secondary-color)!important;
    border: 3px solid #fff!important;
    border-radius: 0 30px;
    padding: 6px 25px 8px 25px!important
}.salla-theme_6 .sub-nav .main-menu>li>ul>li a {
    color: #fff!important;
    font-size: 14px!important;
    font-weight: 600;
    background: var(--primary-color);
    border: 2px solid var(--secondary-color)!important;
    border-radius: 0 30px;
    padding: 5px 25px 8px 25px!important;
    margin-bottom: 5px!important
}.salla-theme_6 .sub-nav .main-menu>li>ul>li a:hover {
    color: #101626!important;
    background: var(--secondary-color);
    border: 2px solid var(--primary-color)!important;
    border-radius: 0 30px;
    margin-bottom: 5px!important
}.salla-theme_6 .sub-nav .main-menu>li>ul>li {
    border-top-width: 0!important;
    border-color: transparent!important;
    background-color: transparent!important
}.salla-theme_6 .section {
    background: #fff!important
}.section--title {
    text-align: right!important
}.salla-theme_6 .section-header h2.section--title span,.section--title span {
    color: #fff!important;
    font-size: 16px!important;
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0 30px;
    padding: 10px 25px!important;
    margin-right: 10px
}.py-4 .section--title {
    color: #fff!important;
    font-size: 16px!important;
    background: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 0 30px;
    padding: 10px 25px!important;
    margin-right: 10px;
    width: 12%!important
}.py-4 .section--title::after,.salla-theme_6 .section-header h2.section--title span::after,.section--title span::after {
    -webkit-animation-name: ShineAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.6,-0.28,0.74,0.05);
    -webkit-animation: ShineAnimation 5s infinite;
    animation: ShineAnimation 5s infinite;
    animation-timing-function: cubic-bezier(0.6,-0.28,0.74,0.05);
    content: "";
    display: block;
    position: absolute;
    left: -6px;
    right: -6px;
    top: -6px;
    bottom: -6px;
    border-radius: 7px;
    width: 400px;
    height: 60px
}a.circle-action.button-next span::before,a.circle-action.button-prev span::before {
    color: #fff!important
}.salla-theme_6 .product {
    transition: 3s 0 ease
}.salla-theme_6 .product:hover {
    animation: tournemoi 2s ease
}.search-results-title {
    display: contents!important
}@media only screen and (max-width: 767px) {
    .sub-nav a {
        color:#101626;
        font-weight: 600;
        padding: 8px!important
    }.salla-theme_6 .sub-nav .main-menu>li>a {
        padding: 7px 25px 8px 25px!important;
        width: 90%!important;
        margin: 0 auto 10px auto!important
    }.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
        border-top: 0 solid #fff;
        color: #c4a156!important;
        font-size: 20px!important;
        text-align: center!important
    }.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories li a {
        font-size: 15px!important;
        min-height: 40px;
        padding: 5px 15px!important;
        width: 80%!important;
        margin: auto
    }.salla-theme_6 .sub-nav .main-menu>li>ul>li a {
        color: var(--secondary-color)!important
    }.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories li.has-children>a:after {
        color: var(--secondary-color)!important;
        opacity: 1!important
    }.salla-theme_6 .section-header h2.section--title span {
        font-size: 13px!important;
        padding: 8px 15px!important;
        margin-right: 10px
    }.py-4 .section--title::after,.salla-theme_6 .section-header h2.section--title span::after,.section--title span::after {
        -webkit-animation-name: none!important;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(0.6,-0.28,0.74,0.05);
        -webkit-animation: ShineAnimation 5s infinite;
        animation: none!important;
        animation-timing-function: cubic-bezier(0.6,-0.28,0.74,0.05);
        content: "";
        display: block;
        position: absolute;
        left: -6px;
        right: -6px;
        top: -6px;
        bottom: -6px;
        border-radius: 7px;
        width: 345px;
        height: 50px
    }.section--title span {
        color: #fff!important;
        font-size: 14px!important;
        font-weight: 600;
        padding: 10px 8px!important
    }.py-4 .section--title {
        color: #fff!important;
        font-size: 16px!important;
        background: var(--primary-color);
        border: 2px solid var(--secondary-color);
        border-radius: 0 30px;
        padding: 10px 25px!important;
        margin-right: 10px;
        width: 40%!important
    }
}@keyframes tournemoi {
    0% {
        transform: rotate(-5deg)
    }

    50% {
        transform: rotate(5deg)
    }

    100% {
        transform: rotate(0)
    }
}

@keyframes ShineAnimation {
    0% {
        background-repeat: no-repeat;
        background-image: -webkit-linear-gradient(top left,rgba(255,255,255,0) 0,rgba(255,255,255,0) 45%,rgba(255,255,255,.5) 48%,rgba(255,255,255,.8) 50%,rgba(255,255,255,.5) 52%,rgba(255,255,255,0) 57%,rgba(255,255,255,0) 100%);
        background-position: -250px -250px;
        background-size: 600px 600px
    }

    100% {
        background-repeat: no-repeat;
        background-position: 250px 250px
    }
}@keyframes nabed {
    0%,100% {
        background: #c19951;
        color: #101626;
        border: 1px dotted #101626
    }

    50% {
        background: #101626;
        color: #c19951;
        border: 1px dotted #c19951
    }
}.promotion-title {
    top: 0!important;
    left: 0!important;
    font-weight: 700;
    border-radius: 0 0 15px 0!important;
    animation-direction: reverse;
    animation: nabed 3.8s infinite linear;
    width: fit-content!important;
    right: initial!important;
    padding: 2px 10px!important
}.salla-theme_6 .product>a .product-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    height: 60px;
}.salla-theme_6 .product .product-footer .not-available {
    border-radius: 5px 20px!important;
    border-bottom: 5px solid #e2384d
}.product-details__hot .text-semibold {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700
}.product-details__hot {
    font-size: 16px;
    font-weight: 700
}.comment {
    border-bottom: 2px solid #c4a156
}.salla-theme_6 .container.banner a img {
    border-radius: 15px;
}.jWcIXO {
    background: #101626 !important;
}.circle-action {
    width: 36px;
    height: 36px;
    line-height: 35px;
    border: 0;
    border-radius: 8px 12px;
    background: #c4a156;
    color: #101626;
}.salla-theme_6 .site-header__mine-cart .badge {
    border-color: #c4a156;
    color: #c4a156;
}.footer-main:before {
    content: "";
    background-image: url(https://i.imgur.com/eAWGMd1.png);
    background-size: 418%;
    display: block;
    background-repeat: round;
    transform: rotate( 180deg);
    height: 104px;
    margin: -52px -32px 1px 1px;
}.footer-main .container:before {
    text-align: center;
    content: "";
    display: block;
    height: 110px;
    width: 140px;
    margin: auto auto 20px;
    background-image: url(https://cdn.salla.sa/Opgwr/MHdR68QT26yeewnliQ4VMD13ljFFKdd5d1SyQ0Ud.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}footer {
    margin-top: 20px;
}.product-add:hover span {
    color: #333 !important;
    font-weight: bold;
}.site-header {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}#searchbox.prompt {
    border-radius: 15px !important;
}.sub-nav .sub-nav-content {
    background: #101626;
}.sub-nav-header::before {
    content: "";
    text-align: center!important;
    display: block;
    height: 80px!important;
    background-image: url(https://www10.0zz0.com/2023/07/21/18/976795447.png);
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: top center!important;
}.sub-nav-header img {
    display: none;
}.salla-theme_6 .site-header .header-top .logo a img {
    height: 55px!important;
}.salla-theme_6 .site-header__cart {
    background: #fff;
}body > div.sub-nav > div > button > svg {
    fill: #101626 !important;
}
