#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner > div > div.lg\:col-span-2.rtl\:lg\:pl-20.ltr\:lg\:pr-20 > p div {
    text-align: center;
    margin: auto;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner > div > div.lg\:col-span-2.rtl\:lg\:pl-20.ltr\:lg\:pr-20 > p div img {
    width: 70px;
    margin: auto;
    margin-top: 30px;
}
