*{
    margin: 0;
}.CodeMirror.cm-s-dracula {
    height: 100vh !IMPORTANT;
}
body{
    font-family: "Cairo", sans-serif;
    overflow-x: hidden;
    font-weight: bold;
    background: rgb(40 44 52);
    width: 100%;
    height: 100vh;
}
.cont{
    width: 100%;
    background-color: rgb(40 44 52);
    height: 30px;
    line-height: 39px;
}
.html-to-css{
    background: #fff;
    height: 30px;
    line-height: 25px;
    top: 0;
    position: sticky;
}
.html-to-css button{
    width: 20%;
    border: none;
    margin-left: 20px;
    background: rgb(40 44 52);
    padding: 2px;
    color: #fff;
    background: rgb(235 238 241);
    vertical-align: middle;;
    height: 100%;
    border-left: 4px solid #fe5e54;
}
#txt,#txtcss{
    width: 99%;
    height: 100%;
    font-weight: bold;
    margin: auto;
    color: rgb(255, 0, 170);
    background: rgb(40 44 52);
    border: none;
    resize: none;
    outline: none;
}
#txtcss{
    color: rgb(0 255 184);
    font-size: 15px;
    display: none;
}
/* #js{
    color: #f3ba00;
    font-size: 15px;
    display: none;
} */
.spa-to img{
  width: 20px;
  margin-left: 10px;
}
#web{
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 20;
    bottom: 15px;
    right: 10px;
   
}
::selection{
    background-color:#0d043a ;
    color: #ffa700;
}
#but{
    width: 150px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    text-align: center;
    right: -150px;
    /* right: -5px; */
    bottom: 28%;
    opacity: 0.6;
}
#butchail{
    position: absolute;
    width: 50%;
    height: 20%;
    background: #fff;
    bottom: 40%;
    border-radius: 30%;
    right: 80%;
}
#but,
#butchail{
    z-index: 50;
}
#butchail img{
    width: 50%;
    bottom: 20%;
    position: absolute;
    vertical-align: middle;
    left: 5px;
}
#but button {
    border: none;
    background: #282c34;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 30%;
    position: relative;
    z-index: 100;
}

.c1,.c2,.c3{ 
    float: right;
    margin-left: 15px;
    margin-top: 7.5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}
.c1{
    background:#2ac645;
    margin-right: 10px;
}
.c2{
    background: #fbbf25;
}
.c3{
    background: #fe5e54;
}
#seve{
    width: 40%;
    position: absolute;
    height: 100px;
    left: 30%;
    top: 30%;
    display: none;
    
}
#seve img{
    width: 100%;   
    border-radius: 20px;
}
.html-to-css #m{
    float: right;
    width: 23px;
    margin-right: 20px;
}
