@keyframes logobg {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    78% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
body:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ffcb1347 url(https://cdn.salla.sa/yoArN/WHubErLQGhKajAPY0vR8nVICHJ6U0y0CNTFNvId1.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    transform: scale(0);
    background-size: 200px !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 3s;
}
.store-header .text-white {
    color: #fff !important;
    background: var(--primary-color) !important;
    padding: 5px 15px !important;
    border-radius: 10px !important;
    width: 14%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    text-shadow: 0 0 9px rgb(56 111 187 / 90%), 0 0 9px rgb(56 111 187 / 90%), 0 0 9px rgb(56 111 187 / 90%), 0 0 9px rgb(56 111 187 / 90%);
    box-shadow: 0 0 9px rgb(56 111 187 / 70%), inset 0 0 9px rgb(56 111 187 / 70%);
}
a.header-icon-button.w-full.text-white {
    width: fit-content !important;
    margin: 6px !important;
}
button.btn--gray.rounded.mx-1 {
    background: #fff;
    color: #000;
    font-weight: bold;
}
.bg-white.rounded.p-5.h-full.flex.flex-col.transition-all.duration-300.shadow-md.shadow-gray-100.hover\:shadow-lg.hover\:shadow-gray-200.hover\:-translate-y-1 {
    background: #0e0f0f;
    color: #fff;
    border-radius: 30px;
}
p.leading-6.mt-4.sm\:mt-0.text-gray-600 {
    color: #fff;
}
li.mx-1 {
    color: #06becc;
}
a.mb-2\.5.last\:mb-0.flex.items-center.text-sm.leading-none.hover\:opacity-70 {
    color: #1296ab;
}
