@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
    font-family: 'Cairo', sans-serif !important;
}
@keyframes logobg {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    78% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
body.store-home:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: #ffffffc9 url(https://www2.0zz0.com/2022/12/25/11/532314157.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    transform: scale(0);
    background-size: 380px !important;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 3.3s;
}body > section:nth-child(5) > div > a > img {
    margin: 0 auto;
    height:50vw;
}body > section:nth-child(5) .container.banner {
    padding: 0;
    width: 100%;
    margin: auto;
}
.main-slider.slick-initialized a img {
    width: 95%;
    margin: 10px auto;
    border-radius: 15px;
    position: relative;
}

.main-slider.slick-dotted.slick-slider {
    padding: 0;
}

.circle-action {
    border: none;
    font-size: 23px;
    color: #016188;
}

span#cart_badge {
    color: #ffffff !important;
    border: 1px solid #3c3c3c !important;
    background: #3c3c3c;
}

header.site-header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer .footer-main {
    background: #00618a;
    color: #fff !important;
    padding-top: 50px;
    border-radius: 20px 20px 0px 0px;
}

.footer-sub.text-center {
    background: #00618a !important;
    color: #ffffff;
    font-weight: bold;
}

footer * {
    text-align: center !important;
    margin: auto;
    color: #fff;
}

.store-contact a {
    color: #fff;
}



.footer-main {
    margin-top: 30px;
}

li.social__item a {
    border: none !important;
    background: #fff;
    border-radius: 50%;
}

li.social__item a i {
    color: #00618a;
}

.sub-nav-header::before {
    content: "";
    text-align: center !important;
    display: block;
    height: 93px !important;
    background-image: url(https://www3.0zz0.com/2022/12/25/11/946170145.png);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
}

footer .store-certificate img {
    transform: scale(2);
    margin: 0 !important;
}

.login-form .panel-title .icon-object {
    display: block;
    border: none;
}

.sub-nav-header img {
    display: none;
}

button.close {
    color: #40788f !important;
    opacity: 1;
}

#modal_login .modal-content {
    border-radius: 20px;
}

section.u-white.py-4 .container .row {
    display: flex;
}

.page-main-container.col-xs-12.page-single {
    padding: 10px;
    padding-top: 30px;
    box-shadow: 0px 1px 5px #33101057;
    border-radius: 15px;
}

section.u-white.py-4 .container .row div {
    width: 100%;
    margin: 0 !important;
    padding: 2px !important;
    border-radius: 15px;
}

.feature-item__content {
    height: 215px;
}

.feature-item__content p {
    font-size: 12px;
}
span.price-after {
    font-size: 20px !important;
    color: #20596c !important;
    padding: 6px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .section-products .container {
        width: 100%;
        border: none;
    }
}
.section-header .section--title span {
    padding: 5px 20px;
    border-radius: 20px 0px 0px 20px;
    margin-right: -6px;
}.section-products .container {
    border-radius: 20px !important;
}
.sicon-cart:before {
    content: "\e96b";
    font-size: 27px;
}

.product-add {
    background: #00618a !important;
    width: 60px;
    border-radius: 0px 10px 10px 0px !important;
}

a.product-add.add_to_cart_btn .sicon-cart:before {
    position: absolute;
    left: 15px;
}

.circle-action:hover {
    background: transparent;
    color: #3c3c3c;
}

.salla-theme_4 .product-footer .product-add:hover {
    background: #00618a !important;
}

h3.product-title {
    color: #333 !important;
    font-weight: 600;
}

h4.product-subtitle {
    width: fit-content !important;
    background: #20596c;
    color: #fff !important;
    border-radius: 10px 0px 0px 10px !important;
    text-align: center !important;
}

span.price-before {
    color: #3c3c3c;
    font-weight: bold;
}
.section-products .container {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.product.contain {
    box-shadow: 2px 3px 16px 0px #1605053b;
    width: 100%;
    border-radius: 15px;
}

.salla-theme_4 footer ul.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.salla-theme_4 footer ul.footer-links li {
    padding: 5px;
    background: #ffffff12;
    display: block !important;
    width: 95%;
    font-size: 13px;
    border-radius: 6px;
    margin-left: 2%;
    margin-right: 2%;
}

img[src="https://www3.0zz0.com/2022/08/25/13/644753451.png"] {
    position: relative;
    bottom: -15px;
}

.icons img {
    background: #ffffff;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px #1205052e;
    margin: 0px 5px 0px 5px;
}

.footer-payment img {
    max-width: 67px;
    max-height: 38px;
}

img[src="https://www5.0zz0.com/2022/08/29/15/769358043.png"] {
    position: relative;
    bottom: -9px;
}

@media (max-width: 990px) {
    ul.main-menu * {
        font-weight: bold;
        color: #00618a !important;
    }
}

i#bell {
    top: 5px;
    position: relative;
}

.list-home {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

i {
    font-family: icomoon !important;
}

.icon-heart-broken2:before {
    background: url(https://www2.0zz0.com/2022/12/25/11/532314157.png) no-repeat;
    background-size: cover;
    width: 162px;
    height: 122px;
    display: block;
    color: transparent;
}

.product.contain {
    border-radius: 30px;
    overflow: hidden;
}

.cart-nav-submit::before,
.cart-nav-submit::after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    background:#00608b;
    position: absolute;
    top: 18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: -1;
    transition: left, right, 0.9s ease-in-out;
}

.cart-nav-submit::before {
    right: -10%;
}

.cart-nav-submit::after {
    left: -10%;
}

.cart-nav-submit:hover::before {
    right: 0%;
    border-radius: 0;
    height: 120px;
    top: -10px;
    width: 400px;
}

.cart-nav-submit:hover::after {
    left: 0%;
    border-radius: 0;
    height: 120px;
    top: 20px;
    width: 400px;
}

.cart-nav-submit:hover {
    color: #fff;
    overflow: hidden;
}

.cart-nav-submit {
    background: no-repeat;
    border: 2px solid #00618a;
    color: #00618a;
    overflow: hidden;
}

.product .product-footer {
    flex-direction: column-reverse;
}


.product-add {
    /* font-size: 1rem; */
    color: black;
    margin: 10px 5% !important;
    padding: 0.35rem 0 !important;
    display: block;
    text-align: center;
    border-radius: 10px;
    width: 90%;
}

.salla-theme_4 .product-footer .product-add {
    border-radius: 30px !important;
}
@media (max-width: 980px) {
    body>section:nth-child(6)>div>div {
        display: flex !important;
        max-width: 1200px !important;
        margin: auto !important;
        width: 100% !important;
        padding: 0 !important;
    }

    body>section:nth-child(6)>div>div div {
        width: 100%;
        padding: 2.5px;
    }

    body>section:nth-child(6) {
        margin: auto !important;
        padding: 10px 0 !important;
    }
}


.sub-nav-header {
    backdrop-filter: blur(4px);
    background: none;
}

.sub-nav .sub-nav-content {
    background: #ffffff73;
    backdrop-filter: blur(5px);
}

.sub-nav .main-menu li.sub-menu-header.categories-holder ul.store-categories li {
    border: none;
}

@media (max-width: 990px) {
    ul.main-menu * {
        color: #3c3c3b !important;
    }
}

.sub-nav .main-menu li.sub-menu-header.categories-holder>span {
    border: none;
}
span.img-cont:before {
    content: "";
    border: none;
    height: 100%;
    display: block;
    width: 100%;
    background-color: #ffffff3b;
    background-image: url(https://www3.0zz0.com/2022/12/25/11/946170145.png);
    background-size: 37%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    transform: scale(1);
    backdrop-filter: blur(0.1px);
    transition: all 1s;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}span.img-cont:hover:before{
    opacity: 1;
    transform: scale(1.8);
}span.img-cont {
    position: relative;
    border-radius: 25px 25px 0px 0px;
}
/* cheikhoumou */

.product-footer a.product-add.add_to_cart_btn .sicon-cart:before {
    font-size: 21px;
    content: " اضف للسلة ";
    position: static;
    width: 100%;
    display: block;
    background: none;
    font-family: 'DINNextLTArabic-Regular';
    color: #fff;
}
.site-header {
    background: #fff;
}

.sub-nav__menu svg,.sub-nav__close svg {
    fill: #00618b;
}

.salla-theme_4 .site-header .logo-wrapper .logo img {
    max-height: 54px;
    transform: scale(1.2);
        }.sub-nav .main-menu>li>a{
            color: #333;
        }
        section.u-white.py-4 .container .row .col-sm-6.col-md-4.feature-item.mb-md-0 {
    position: relative;
    color: #0000;
}section.u-white.py-4 .container .row .col-sm-6.col-md-4.feature-item.mb-md-0:before {content: "";position: absolute;display: block;top: 0;width: 100%;height: 100%;
    background: url(https://www6.0zz0.com/2022/12/27/14/560090853.gif) no-repeat;
    background-size: 100%;background-position: center;}
.feature-item__icon h3 {
    display: none;
}section.u-white.py-4 .container .row .col-sm-6.col-md-4.feature-item.mb-md-0:nth-child(2):before {
    background-image: url(https://www6.0zz0.com/2022/12/27/14/918887866.gif);
}section.u-white.py-4 .container .row .col-sm-6.col-md-4.feature-item.mb-md-0:nth-child(3):before {
    background-image: url(https://www6.0zz0.com/2022/12/27/14/129813118.gif);
}
