@keyframes logobg {
    0% {transform: scale(1);}
    20% {transform: scale(1);
    }78% {transform: scale(1);
    }100% {transform: scale(0);}}
body.index:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff5c url(https://www3.0zz0.com/2023/01/14/14/274053811.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    transform: scale(0);
    background-size: 270px !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 2.5s;
    backdrop-filter: blur(4px);
    }
section.home-block.home-block--square-images .row:last-child {
	padding: 0 2px;
	justify-content: center;
}@media (max-width: 992px) {
section.home-block.home-block--square-images .row>div {display: inline-block;padding: 4px !important;
		-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}}section.home-block.home-block--square-images .row>div {padding: 8px;}section.home-block.home-block--square-images .row>div>a {
	margin: 0;
	border-radius: 5px;
}@media (min-width: 768px) {
	.home-block--square-images .banner--square figure {
		padding-top: 55%;
	}.home-block--square-images .container .row {padding: 0 50px;}}@media (min-width: 990px) {
.home-block--square-images .container .row {
		padding: 0 2px;}}section.home-block.home-block--square-images {
    padding: 0 !important;
}.nav-desktop ul .menu-item .offers-link {
	color: #f5f7f9!important;
	background-color: rgb(171 4 4)!important;
}.nav-desktop--horizontal>ul .menu-item>a {
    border-radius: 13px;
    padding: 15px 12px;
}.nav-desktop ul .menu-item:hover>a, .nav-desktop ul .menu-item:not(.mega-menu) .sub-menu ul li:hover>a, .nav-desktop ul .menu-item>a:hover {
    background-color: #a08f7b;
	color: #f5f7f9 !important;
}.nav-desktop--horizontal ul .menu-item.dropdown .sub-menu {
    border-radius: 25px 0 20px 25px;
    box-shadow: 5px 5px 20px 8px rgb(8 99 66 / 24%);
}.nav-desktop--horizontal ul .menu-item.dropdown .sub-menu ul li {
    margin: 10px;
}.header-side-panel-trigger ,.s-cart-summary-icon svg {
    color: #fff;
    font-size: 27px;
    fill: #fff;
    height: 1.85rem;
    width: 2.25rem;
}
.hlANmy {background: #086342 !important;}.sc-1au8ryl-0.dmopMx {display: none !important;}
i.s-cart-summary-icon:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://www11.0zz0.com/2023/01/14/14/750649802.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -5px;
    }.s-cart-summary-count {
    background: #a08f7b;
}footer.footer:before {
    content: " ";
    background-image: url(https://drive.google.com/uc?id=12FtB3_a1johi_WLGBl_3J-UlX5-GnAwf)!important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 109px;
    margin-top: -12px;
}footer.footer {
    background: #a08f7b;
    margin-top: 40px;
    background-image: url(https://cdn.salla.sa/azlbg/suPkvJ3uZZGfZLEPKp0zhvJJgCvlQcc3m70v275L.png);
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center bottom;
}
ul.footer-list.store-links-items {
    display: block;
    text-align: center;
}.store-links ul.footer-list.store-links-items li {
    display: inline-block;
    width: 100%;
    padding: 0px 10px;
    text-align: center;
}@media only screen and (max-width: 767px){
	.site-header .theme-logo {
    background: #a08f7b;
    border-radius: 0 0 0 120px;
    padding: 10px 0;
    padding-right: 25px !important;
    margin-right: -15px;
}}.nav-mobile .main-nav {background: #086342;border-radius: 0px;}.nav-mobile .main-nav li a {color: transparent;padding-bottom: 0px;bottom: -8px;}.footer__bottom {background: #a08f7b;
}.store-certificate__text,.store-certificate__text .number {color: #fff;}
.nav-mobile .main-nav li a i {color: #fff !important;font-size: 23px;}.btn--floated.btn--add-to-cart {
    position: initial;
    display: block;
    width: calc(100% - 30px);
    border-radius: 99px !important;
    margin: 0px 15px 10px !important;
    transform: none !important;
    padding: 5px 10px 5px 5px!important;
    background: #086342}.btn--floated.btn--add-to-cart .sicon-shopping-bag::before {content: 'إضافة للسلة' !important;font-weight: 700 !important;color: #fff;margin-left: 6px;font-family: inherit !important;}.s-button-btn {display: contents;}

section.home-block.home-block--square-images .row:last-child {
	padding: 0 2px;
	justify-content: center;
}@media (max-width: 992px) {
section.home-block.home-block--square-images .row>div {display: inline-block;padding: 4px !important;
		-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}}section.home-block.home-block--square-images .row>div {padding: 8px;}section.home-block.home-block--square-images .row>div>a {
	margin: 0;
	border-radius: 5px;
}@media (min-width: 768px) {
	.home-block--square-images .banner--square figure {
		padding-top: 55%;
	}.home-block--square-images .container .row {padding: 0 50px;}}@media (min-width: 990px) {
.home-block--square-images .container .row {
		padding: 0 2px;}}section.home-block.home-block--square-images {
    padding: 0 !important;
}.nav-desktop ul .menu-item .offers-link {
	color: #f5f7f9!important;
	background-color: rgb(171 4 4)!important;
}.nav-desktop--horizontal>ul .menu-item>a {
    border-radius: 13px;
    padding: 15px 12px;
}.nav-desktop ul .menu-item:hover>a, .nav-desktop ul .menu-item:not(.mega-menu) .sub-menu ul li:hover>a, .nav-desktop ul .menu-item>a:hover {
    background-color: #a08f7b;
    color: #f5f7f9 !important;
    border-radius: 10px;
}.nav-desktop--horizontal ul .menu-item.dropdown .sub-menu {
    border-radius: 25px 0 20px 25px;
    box-shadow: 5px 5px 20px 8px rgb(8 99 66 / 24%);
}.nav-desktop--horizontal ul .menu-item.dropdown .sub-menu ul li {
    margin: 10px;
}header.fixed-header .site-header, .site-header,.header-block--nav-wrapper {
    background: #086342;
    padding: 15px;
    }.header-side-panel-trigger ,.s-cart-summary-icon svg {
    color: #fff;
    font-size: 27px;
    fill: #fff;
    height: 1.85rem;
    width: 2.25rem;
}section.hero.header-block.header-block--nav-wrapper ul li a {color: #fff;}
.s-cart-summary-icon svg {
    display: none;
}.site-header {
    padding: 0 !important;
}.s-cart-summary-count {
    background: #086342;
}footer.footer {
    background: #086342;
    margin-top: 40px;
    background-image: url(https://eitara1.odoo.com/web_editor/shape/web_editor/Floats/02.svg?c1=%23007564&c2=%23fcb752&c3=%23F8F9FA&c5=%23000000);
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: top;
}body > footer > div.container::before {
    display: block;
    content: "";
    width: 210px;
    height: 200px;
    margin: 30px auto -10px auto;
    background: url(https://tttttt.odoo.com/web/image/1099-df256db5/Untitled-2-32%2520%25282%2529.svg) no-repeat !important;
    background-size: contain !important;
}ul.footer-list.store-links-items {
    display: block;
    text-align: center;
}.footer .footer-list li a {
    color: #fff;
    font-size: 17px;
}@media only screen and (max-width: 767px){
footer.footer {
    background: #086342;
    margin-top: 40px;
    background-image: url(https://eitara1.odoo.com/web_editor/shape/web_editor/Floats/02.svg?c1=%23007564&c2=%23fcb752&c3=%23F8F9FA&c5=%23000000);
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: 60% 40%;
}.site-header .theme-logo {
    background: #086342;
    border-radius: 0 0 0 120px;
    padding: 10px 0;
    padding-right: 25px !important;
    margin-right: -15px;
}.footer__mid .row:before {
    margin-right: 0px !important;
}.footer__mid:before {text-align: center;}
.footer__mid .row:before {text-align: center;}
	header.fixed-header .site-header, .site-header, .header-block--nav-wrapper {
    background: #a08f7b !important;
}#site-header-outer > div > div {padding: 0px!important;}}.nav-mobile .main-nav {background: #086342;border-radius: 0px;}.nav-mobile .main-nav li a {color: transparent;padding-bottom: 0px;bottom: -8px;}.footer__bottom {background: #086342;}.store-certificate__text,.store-certificate__text .number {color: #fff;}
.nav-mobile .main-nav li a i {color: #fff !important;font-size: 23px;}.btn--floated.btn--add-to-cart .sicon-shopping-bag::before {content: 'إضافة للسلة' !important;font-weight: 700 !important;color: #fff;margin-left: 6px;font-family: inherit !important;}.s-button-btn {display: contents;}
img.loaded {border-radius: 20px;}.product-block {box-shadow: 0px 0px 15px 0px #0438253b;border-radius: 20px;}
.title--has-dash:before {background: #fff !important;}.footer__bottom .container>*:last-child *,.footer__bottom .container>*:last-child {color: #fff;}
#site-header-outer > div > div {padding: 10px;}.s-cart-summary-total {color: #fff;}
.footer__mid:before {
    content: " حمل التطبيق ";
    display: block;
    font-size: 27px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 4px;
    /* margin-right: 43px; */
}.footer__mid .row:before {
    content: " وجهتكم الأولى للعطارة واكثر ";
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
    margin-right: 15px;
}body > footer > div.container > div.footer__top > div > div:nth-child(2) > div > ul li{
    background-image: url(https://cdn.salla.sa/azlbg/jowrik9AyaRllSaQ3OvCVnt4sfYeKMgXQatspXwm.svg) !important;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
}body > footer > div.container > div.footer__top > div > div:nth-child(2) > div > ul li a {
color: #000 !important;}.store-contact-info ul li a i {padding: 8px;border: 1.5px solid #fff;border-radius: 50%;}.store-contact-info {margin-bottom: 15px;}.footer .footer-list li a:hover {color: #e1b684;}body ul.footer-list--social-links li:hover a {background-color: #0000 !important;}.footer__top > div > div:nth-child(1) > div > div > div {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff !important;
    text-align: center;
    margin-bottom: 4px;
}.footer__top > div > div:nth-child(1) > div > div > div:before {
    display: none;
}.footer__top > div > div:nth-child(1) > div > div > ul.footer-list.store-links-items > li > a {
    padding: 4px;
}.product-block .title--primary {
    color: #086342 !important;
    font-weight: bold;
}.title.title--primary.title--has-dash.mb-20 {
    color: #fff !important;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}input.s-quantity-input-input {background: #fff;}div.product-sections-wrapper > form > div.product-section.product-section--quantity.no-p.mb-0.no-border > div.flex-grow-1 > salla-add-product-button > salla-button > button {display: block;}
.s-login-modal .s-modal-header-content div {font-size: 22px !important;color: #086342;}.s-modal-header-inner svg {fill: #086342;width: 50px;height: 39px;}
div#sub_menu_943755 {border-radius: 20px;}
.category-title--sortable .title {
    background: linear-gradient(45deg, transparent, #086342);
    color: #fff !important;
    padding: 8px;
    padding-right: 16px;
    width: 200px !important;
    display: inline-block !important;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 12px;
}.title--has-dash:before {display: none;}body > footer > div.container > div.footer__top > div > div:nth-child(2) > div {display: flex;justify-content: center;align-items: center;}body > footer > div.container > div.footer__top > div > div:nth-child(2) > div > ul {
display: flex;justify-content: center;}.side-panel.mobile-side-panel .side-panel__content {background: #086342;}.side-panel.mobile-side-panel .side-panel__content * {color: #fff;}
