body:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #a99c67 url(https://www6.0zz0.com/2023/09/19/18/726668980.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    background-size: 90% !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
}
