@keyframes logobg {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }

  78% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
body:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #02657ebd
    url(https://cdn.salla.sa/PXZeK/0EpvdYeCc4EoPcHH6BqeS1AD2ZoXjnMrfRta3jyh.png);
  position: fixed;
  z-index: 99999999999999999 !important;
  transform: scale(0);
  background-size: 150px !important;
  background-repeat: no-repeat;
  background-position: center !important;
  animation-name: logobg;
  animation-duration: 3s;
}
@import url("https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css");
@import url("https://kit-free.fontawesome.com/releases/latest/css/free.min.css");
@font-face {
  font-family: "excpo";
  src: url("https://cdn.salla.sa/BlmbO/mSGP56T900OLpx0YDmbICsq715PmpwqvGbjfhqhJ");
}body,
*:not(i) {
  font-family: "excpo" !important;
}@-webkit-keyframes rotateIn{0%{transform-origin:center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateIn{0%{transform-origin:center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
.home-block--square-images .container .row {
    flex-flow: row;
    justify-content: center;
}.home-block--square-images .container .row .col-md-4.col-sm-12{
    margin: 4px;
    padding:2px;
}section.home-block.home-block--fixed-banner {
    padding: 0 !important;
}.banner--square {
    margin: 0;
}section.home-block.home-block--square-images {
    padding: 15px !important;
}@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
 font-family: 'Tajawal', sans-serif ;   
}
 .title--small {
    font-family: 'Tajawal', sans-serif;
     font-weight: 400;
}footer.footer {
    background: #02657e;
}footer.footer * {color:#fff !important;}
.title--has-dash:before {
    background: #02657e !important;
}.footer__bottom {
    background: #000;
}.badge--danger {
    background: #18b6a1;
}.testimonial-entry *{text-align: center;font-weight: bold;}
.testimonial-entry {
    justify-content: center;
    align-items: center;
}.testimonial-entry__info {
    width: 100%;
    margin: auto;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.avatar-wrapper--small {padding: 4px;margin: 5px;border: 2px solid #02657e;width: 80px;height: 80px;display: flex;justify-content: center;align-items: center;}
.testimonial-entry__excerpt p {
    color: #000;
}.testimonial-entry {
    border-radius: 30px;
    box-shadow: 0px 0px 8px #00000017;
    position: relative;
    margin: 8px 1px;
    margin-bottom: 0px;
}.testimonial-entry:before {
 content:
 " ";
 display: block;
 position: absolute;
 width: 72px;
 height: 20px;
 top: 20px;
 right: 15px;
 background: url(https://cdn.salla.sa/xQDBb/eO3RujzJczzsKeH1LzvZoJM47mxXk5OZS4GbcSCx.jpg) no-repeat;
 z-index: 100;
 background-size: cover;
 background-position: center;
}body > section.home-block.home-block--bg.home-block--testimonials.no-m > div > div:nth-child(1) > div > div {
    text-align: center;
}@keyframes float {
 0% {
  transform: translatey(0px);
 }
 50% {
  transform: translatey(-20px);
 }
 100% {
  transform: translatey(0px);
 }
}@keyframes shadeanm {
 0% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
 50% {
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
 }
 100% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
}.store-feature__icon{
    background: linear-gradient(288deg, #000 34%, #000 100%);
    animation: float 4s ease-in-out infinite, shadeanm 4s ease-in-out infinite;
    color: #bfa736;
}
@media (max-width: 576px){
.home-block--store-features .container .row .col-sm-12 .store-feature .title--large {
    font-size: 17px !important;
}.home-block--store-features .container .row .col-sm-12 .store-feature p {
    font-size: 12px !important;
}}
.product-block .btn--add-to-cart {
    position: initial;
    display: block;
    border-radius: 50px;
    width: 90%!important;
    height: auto!important;
    margin: 8px auto 10px auto!important;
    padding: 5px !important;
    background: no-repeat;
    box-shadow: 0px 1px 8px 0px #06010152;
}.product-block .btn--add-to-cart:not(.disabled) i:after {
    content: 'اضف للسلة';
    margin-inline: 0.5rem;
    font-family: 'DINNextLTArabic-Regular-Medium';
    font-weight: bold;
}.s-button-text {
    display: block;
    pointer-events: visible;
    overflow: visible;
    text-overflow: unset;
    white-space: nowrap;
    font-weight: bold !important;
    font-size: 14.5px;
    color: #000;
}.product-block .btn--add-to-cart:hover .s-button-text{
  color: #fff;
}.product-block .btn--add-to-cart:hover {
    background: #02657e;
}.header-side-panel-trigger,header .site-header__cart .price,header .site-header__cart i {
    font-size: 26px;
    color: #000;
}
.sicon-cart:before {
    content: "\ef36";
}.placeholder-block.white i:before {
    background: url(https://cdn.salla.sa/xQDBb/afgZEsssgniPMNYfnwsR17bXq6SUqfqRjh3g8Ytx.png) no-repeat;
    background-size: 74%;
    width: 162px;
    height: 122px;
    display: block;
    background-position: center;
    color: transparent;
}.btn.btn--wide.btn--padded.btn--oval.btn--primary::before ,.btn.btn--wide.btn--padded.btn--oval.btn--primary::after{
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    background: #02657e;
    position: absolute;
    top: 18px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: -1;
    transition:  left, right ,0.9s ease-in-out;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary::before {
    right: -10%;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary::after {
    left: -10%;
 }
.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover::before{
    right: 0%;
    border-radius: 0;
    height: 120px;
    top: -10px;
    width: 400px;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover::after{
    left:0%;
    border-radius: 0;
    height: 120px;
    top: 20px;
    width: 400px;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary:hover{
    color: #fff;
    overflow: hidden;
 }.btn.btn--wide.btn--padded.btn--oval.btn--primary {
     background: no-repeat;
     border: 2px solid #02657e;
     color: #02657e;
     overflow: hidden;
     position:relative;
     width:80%;
     margin:auto;
 }.splide--testimonials .splide__list {
    padding-bottom: 10px !important;
}.s-cart-summary-icon svg {
    fill: #000;
    width: 2rem;
    height: 1.70rem;
}.footer .footer-list--payment-methods li img {
    border-radius: 5px;
    background: #fff;
    margin: 5px;
    padding: 2px;
    outline: 2px solid #fff;
}.footer .footer-list--payment-methods {
    overflow: visible;
}.side-panel__content .d-flex{
    display: block !important;
    text-align: center;
}.side-panel .store-about img {
    margin: auto;
    margin-bottom: 20px;
}header.fixed-pinned .site-header{
    background: #02657e78;
    backdrop-filter: blur(5px);
}.title--has-dash:before {
    position: absolute;
    content: "";
    top: 30%;
    width: 14px;
    height: 14px;
    display: block;
    right: -4px;
    margin-top: -2px;
    -webkit-animation: rotateIn 3s infinite;
    -moz-animation: rotateIn 3s infinite;
    box-shadow: 3px 3px 0px 0px rgb(87 11 104);
}input.s-quantity-input-input {
    background: #ad9164b5;
}button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-end span {
    color: #fff;
}.product-block {
    border-radius: 20px;
    box-shadow: 0px 0px 5px #2c0f0f24;
}.tamara-product-widget, .spotii-wrapper{
     box-shadow: 0px 0px 5px #2c0f0f24;
     border-radius: 20px !important;
}div#tabbyPromoWrapper {
    border: 2px solid #eee;
    border-right: 4px solid #3bffc0;
    border-radius: 15px;
}.btn--tag {
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-size: 11px;
    padding: 5px 10px !important;
}.nav-desktop--horizontal>ul .menu-item>a {
    font-weight: bold;
}ul.footer-list.store-links-items {
    display: grid;
    grid-template-columns: 2fr 2fr;
}ul.footer-list.store-links-items li {
    padding: 4px;
    display: block;
}ul.footer-list.store-links-items li a {
    background: #ffffff42;
    text-align: center;
    border-radius: 10px;
    font-size: 11px;
    padding: 10px 20px;
}.spotii-wrapper * {
    color: #000 !important;
}.spotii-wrapper {
    border-bottom: 4px solid #ff4b44;
}.tamara-product-widget {border-top-color: #f8c386 !important;border-width: 4px !important;}
.footer__bottom .container>*:last-child {
    display: none;
}.title--primary {
    color: #02657e !important;
    font-weight: bold;
}.s-cart-summary-count {
    background: #a39b67;
}@keyframes boutton { 0%,100% { transform: scale(0.5.0.5);}50% {
    transform: scale(1.1);
  }}.product-block:hover .thumb-wrapper img {
    transform: scale(1.1) rotate(1.5deg);
    transition: all 0.6s !important;
}.product-block:hover .price-wrapper>span {
    color: #ac963b !important;
    transform: scale(1.1);
    transition: all 0.5s !important;
}.price-wrapper>span {
    margin: 0px 8px;
}.product-block:hover .btn--add-to-cart{
    animation: boutton 1s infinite ease-in-out;
}.footer .footer-list--payment-methods {
    flex-direction: row-reverse;
}.footer .footer-list--payment-methods li {
    background: #fff;
    border-radius: 8px;
    margin: 2px;
    padding: 0 !important;
    width: 54px;
    height: 42px;
    line-height: 38px;
}footer.footer,footer.footer:before {
    background-size: cover;
}.footer__bottom {
    background: #02657e;
}.store-feature__icon {
    background: #02657e;
}@media (max-width:750px) {
    body > section.home-block.home-block--square-images > div > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
section.home-block.home-block--bg.home-block--testimonials.no-m {
    background: #fff;
}body > footer > div.container::before {
    display: block;
    content: "";
    width: 160px;
    height: 108px;
    margin: 15px auto -10px auto;
    background: url(https://www10.0zz0.com/2023/08/29/18/361272945.png) no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
}body > footer > div.container > div.footer__top > div > div:nth-child(2) > div > ul:before {
    background-position: left 80%;
    width: 100%;
    height: 240px;
    content: "";
    display: block;
    }
body > footer > div.container > div.footer__top > div > div:nth-child(2) > div > ul:before {
    position: absolute;
    opacity: 0.1;
    top: -10%;}footer.footer {
    background: #02657e;
    margin-top: 40px;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: top;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}.nav-mobile .main-nav li a {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}.nav-mobile .main-nav li a i {
    font-size: 19px;
}.nav-mobile .main-nav {
    background: #02657e;
}}.footer__mid {
    border-top: 2px solid;
}.nav-desktop--horizontal ul .menu-item.dropdown .sub-menu {top: auto;
    left: auto;
    right: 0;
    width: max-content;
}.nav-desktop ul .menu-item.dropdown:not(.mega-menu) .sub-menu ul {
    max-width: 100%;
    width: 100%;
    overflow: visible;
    overflow: initial;
}.nav-desktop--horizontal>ul .menu-item>a:hover {
    color: #fff;
    background: #02657e;
    border-radius:10px;
    transition: all 0.5s;
}.nav-desktop--horizontal ul .menu-item.dropdown .sub-menu ul li a:hover{
    color: #fff;
    background: #02657e;
    transition: all 0.5s;
    border-radius:10px;
}.nav-desktop--horizontal>ul {
    justify-content: center;
}body ul.footer-list--social-links li a:hover {background: #ac963b;}
.footer .footer-list--row {
    justify-content: center;
    margin-top: 20px;
}.store-about p {
    font-family: 'Apple-Medium';
}body > footer > div.container > div.footer__top > div > div:nth-child(1) {
    order:3;
}body > footer > div.container > div.footer__top > div > div:nth-child(2) {
    order:2;
}body > footer > div.container > div.footer__top > div > div:nth-child(3) {
    order:3;
}.btn--tag {
    background: #357b21;
}input.s-quantity-input-input {
    background: none;
}.product-sections-wrapper > form > div.product-section.product-actions.product-section--quantity.no-p.mb-0.no-border.has-quick-purchase > div.flex-grow-1 > salla-add-product-button > salla-button > button .s-button-text {color: #fff !important;
}.product-sections-wrapper {
    border: none;
    box-shadow: 0px 0px 7px #16030352;
    border-radius: 30px;
}section.home-block.home-block--square-images {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}.home-block--square-images .container .row .col-md-4.col-sm-12 {
    margin: 1px;
}footer.footer:before {
    content: " ";
    background-image: url(https://marssa.shop/site/images/new_theme/footer-top.svg)!important;
    display: block!important;
    background-size: 107% 100px;
    height: 93px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
}.store-feature__icon {
    color: #fff;
}.product-block .btn--add-to-cart:not(.disabled) i:after {
    font-family: "excpo" !important;
}.site-header {
  background: #02657e;
}.top-header {
  background:#02657e;
  border: none !important;
}.top-header .top-header__info li a * { color:#fff}
.home-block--bg {
    background: #fff;
}.s-cart-summary-icon:before {
    content: "";
    display: block;
    width: 33px;
    height: 33px;
    background: url(https://www3.0zz0.com/2023/08/29/18/685643617.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -5px;
}#gb-widget-2743 > div.sbsi7l-0.bmZSoU > div > svg, #s-cart-icon > slot-fb > i > svg {
    display: none;
}header .site-header .theme-logo a {
    transform: scale(1.2);
}.mm-ocd--open .mm-ocd__backdrop {
    background: linear-gradient(to right, #02657e12, #0000006b) !important;
}div#header-mobiel-nav {
    background: linear-gradient(to right, #000000cf, #46723859) !important;
}.s-modal-overlay.s-modal-entering {
    background: linear-gradient(to right, #0000005e, #46723859) !important;
}body > section:nth-child(10) {
    margin-top: 13px;
}.nav-mobile .main-nav {
    background: #02657e;
}.header-block--nav-wrapper {
    background: #fff !important;}
li#\31 046041164 {
    width: 143px;
}h2.title.title--xx-large.mb-10 ,.price-wrapper-info.price-wrapper--large.product-main-price,.price-wrapper-info.price-wrapper--large.product-main-price span {
    text-align: center;
    font-size: 25px;
}.store-about,.store-contact-info {width: 100%;text-align: center;}.footer__top .title--primary:before {
display: none;}
.badge--primary {
    color: #fff;
}.footer__block {
    text-align: center;
    align-items: center;
}header .site-header .main-header-components {
    order: 3;
}header .site-header__wrapper .theme-logo {
    order: 2;
    width: 68%;
    margin: auto;
    display: flex !important;
    justify-content: center;
}
@media (max-width: 766px){
header .site-header__wrapper .theme-logo {
    order: 2;
    width: 100%;
    margin: auto;
    display: flex !important;
    justify-content: center;
}}header .site-header__wrapper .theme-logo span {
    display: none;
}.price-wrapper>span {
    position: relative;
    display: block;
    border-radius: 0.5rem;
    font-size: 0.90rem;
    font-weight: 600;
    width: fit-content;
    background: #02657e99;
    text-align: center;
    margin: 12px;
    margin-right: 0;
    color: #fff !important;
    padding: 7px 15px;
}.price-wrapper>span:before,.price-wrapper>span:after {
    position: absolute;
    height: 76%;
    width: 26%;
    border-color: var(--color-primary);
    --tw-content:
    "";
    content: var(--tw-content);
}.price-wrapper>span:before {
    top: 0;
    left: 0;
    border-top-left-radius: 0.5rem;
    border-top-width: 3px;
    border-left-width: 3px;
}.price-wrapper>span:after {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-width: 3px;
    border-right-width: 3px;
}.price-wrapper>small {
    color: #02657e;
}.sicon-search:before {
    color: #fff;
}.sicon-ellipsis-vertical:before {
    content: "";
    width: 40px;
    display: block;
    height: 40px;
    background: url('https://www6.0zz0.com/2023/08/29/18/968830087.png');
    background-size: cover;
}a.mobile-search-trigger.header-side-panel-trigger.d-md-none.ml-2 {
    order: 1;
}
