@font-face {
  font-family: "DINNextLTW23";
  src: url("https://cdn.salla.sa/PyXjn/1IlsJ1mfkzbuk8H0t1NA3pIIIj1P0oZKGAlkwskF");
  src: url("https://cdn.salla.sa/PyXjn/dNdQNhejQELbUTLdaQ3aigSkCysbcO594LEo8Ci5");
  font-weight: normal;
}
@font-face {
  font-family: "DINNextLTW23";
  src: url("https://cdn.salla.sa/PyXjn/iCYiPesiC9tJyeKs50xMDQ1mC3Q9cNlZNMTlRWST");
  font-weight: bold;
}
body,
*:not(i) {
  font-family: "DINNextLTW23" !important;
}.h-8 {
    height: 4rem!important;
}#app > div.app-inner.flex.flex-col.min-h-full > footer > div > div.grid.grid-cols-1.gap-8.lg\:grid-cols-3 > div.grid.grid-cols-1.gap-8.sm\:grid-cols-2.lg\:col-span-2.lg\:grid-cols-3 > div:nth-child(1) > div > ul li a i {
    height: 1.9rem !important;
}footer.bg-white.shadow-2xl {
    display: flex;
    justify-content: center;
    text-align: center;
    /* background: #000000 !important; */
}footer.bg-white.shadow-2xl * {
    justify-content: center;
}img.h-16 {
    margin: auto;
    margin-bottom: 23px;
}.items-stretch {
    margin-top: 18px;
}li.w-16.h-10.bg-white.rounded.flex.items-center.p-1 {
    margin: 5px;
    border-radius: 10px !important;
}.flex.flex-row.items-center.gap-4.py-2.md\:py-6.hover\:shadow-md.duration-300.w-full {
    display: block !important;
    text-align: center;
}.flex.flex-row.items-center.gap-4.py-2.md\:py-6.hover\:shadow-md.duration-300.w-full .flex-col {
    display: block !important;
}.rounded-md {
    border-radius: 22px!important;
}nav#main-mobile-menu,button.w-8.h-10.inline-flex.justify-center.items-center.mt-1\.5.z-10{
    box-shadow: 0px 0px 11px #12040442;
}.shadow-sm {
     border-radius: 0px 0px 15px 15px;
     box-shadow: 0px 0px 11px #12040442 !important;
}nav#mobile-nav {
    border: none;
}button.w-8.h-10.inline-flex.justify-center.items-center.mt-1\.5.z-10 {
    background: #ffffff;
    width: 42px !important;
    height: 42px !important;
    border-radius: 10px;
}svg.w-5.h-6 path {
    fill: #d2a154 !important;
}.no-content-placeholder i.sicon-shopping-bag.icon:before {
    content: "";
    display: block;
    width: 94px;
    height: 83px;
    background: url(https://cdn.salla.sa/dPBdeo/ryTe9yflwJIlilVV7EBYnDZUvVPNN7CoxDOGLIPP.png) no-repeat;
    background-size: contain;
    background-position: center;
}.w-20.h-20.md\:w-32.md\:h-32.overflow-hidden.rounded-full + .text-center {
    background: #d2a154;
    display: block;
    width: fit-content;
    padding: 3px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    height: 30px;
    border-radius: 11px;
    color: #231f1e;
    font-size: 13px;
}.gap-4 {
    gap: 8px !important;
}[dir=rtl] .rtl\:ml-2\.5 {
    height: 26px !important;
}h1.font-bold.text-2xl:before {
    position: absolute;
    content: "";
    top: 38%;
    width: 14px;
    height: 14px;
    display: block;
    right: -22px;
    margin-top: -2px;
    -webkit-animation: rotateIn 3s infinite;
    -moz-animation: rotateIn 3s infinite;
    box-shadow: 3px 3px 0px 0px #d2a154;
}h1.font-bold.text-2xl:before {
    background: #231f1e !important;
    border-radius: 4px;
}h1.font-bold.text-2xl {
    position: relative;
    font-size: 19px !important;
    margin-right: 28px;
}@-webkit-keyframes rotateIn{0%{transform-origin:center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}@keyframes rotateIn{0%{transform-origin:center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0}0%,to{-webkit-transform-origin:center}to{transform-origin:center;-webkit-transform:none;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
eyframes float {
 0% {
  transform: translatey(0px);
 }
 50% {
  transform: translatey(-20px);
 }
 100% {
  transform: translatey(0px);
 }
}
@keyframes shadeanm {
 0% {
  box-shadow: 0 5px 15px 0px #00000026;
 }
 50% {
  box-shadow: 0 15px 15px 0px #00000033;
 }
 100% {
  box-shadow: 0 5px 15px 0px #0000001c;
 }
}.flex.flex-row.items-center.gap-4.py-2.md\:py-6.hover\:shadow-md.duration-300.w-full span.inline-block{
    animation: float 4s ease-in-out infinite, shadeanm 4s ease-in-out infinite;
    color: #d2a154;
    padding: 10px;
    border-radius: 21px;
}#app > div.app-inner.flex.flex-col.min-h-full > footer > div > div.grid.grid-cols-1.gap-8.lg\:grid-cols-3 > div:nth-child(1) > img {
    transform: scale(1.5);
}li.rtl\:ml-4.ltr\:mr-2\.5 {
    background: #fffdf9;
    display: flex;
    width: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 11px #12040442;
    padding: 2px;
}
footer.bg-white.shadow-2xl * {
    font-weight: 600;
}ul.mt-6.space-y-4.text-sm {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 4px;
}ul.mt-6.space-y-4.text-sm li {
    background: #ffffff5c;
    font-size: 10px;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
    margin: 3px !important;
}footer > div > div.grid.grid-cols-1.gap-8.lg\:grid-cols-3 > div.grid.grid-cols-1.gap-8.sm\:grid-cols-2.lg\:col-span-2.lg\:grid-cols-3 > div:nth-child(1) > ul > li:nth-child(1) {
    margin-top: 16px;
}footer.bg-white.shadow-2xl {
    background: linear-gradient(4deg, #d2a154, white);
}section.s-block.s-block--features.container.flex.justify-center.px-2.md\:px-0.py-4 > div > div > div:nth-child(1) > div > span > i:before {
    content: "";
    width: 69px;
    display: block;
    background: url("https://www3.0zz0.com/2023/10/21/18/386919469.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 64px;
}section.s-block.s-block--features.container.flex.justify-center.px-2.md\:px-0.py-4 > div > div > div:nth-child(2) > div > span > i:before {
    content: "";
    width: 69px;
    display: block;
    background: url("https://www3.0zz0.com/2023/10/21/18/725526235.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 64px;
}section.s-block.s-block--features.container.flex.justify-center.px-2.md\:px-0.py-4 > div > div > div:nth-child(3) > div > span > i:before {
    content: "";
    width: 69px;
    display: block;
    background: url("https://www3.0zz0.com/2023/10/21/18/962939224.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 64px;
}@keyframes boutton {
  0%,
  100% {
    transform: scale(0.5.0.5);
  }

  50% {
    transform: scale(0.9);
  }
}.duration-200:hover .bg-primary {
  animation: boutton 1s infinite ease-in-out;
}
