@font-face{
font-family:myfont;
src:url(https://raw.githack.com/cheikhoumou/Salla/main/BGOTHM.TTF);
}
@font-face{
font-family:myfont2;
src:url(https://raw.githack.com/cheikhoumou/Salla/main/KUFAM-REGULAR.TTF);
}
@font-face{
font-family:myfont3;
src:url(https://raw.githack.com/cheikhoumou/Salla/main/ALFONT_COM_CAIRO-REGULAR-1.TTF);
}
.s-product-card-content-title,#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner > div > div.lg\:col-span-2.rtl\:lg\:pl-20.ltr\:lg\:pr-20 > a > h3{
    font-family: 'myfont';
}
*{
     font-family:myfont3;
}.mm-ocd {top: 43px;}
.s-user-menu-trigger{
    width: 25px;
    height: 16px;
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/%D9%84%D9%82%D8%B7%D8%A9%20%D8%B4%D8%A7%D8%B4%D8%A9%202024-05-14%20133742.png) no-repeat !important;
    background-size: contain !important;
    margin-top: 8px;
}.s-user-menu-avatar-wrap img{
    opacity: 0;
}.s-user-menu-dropdown-header img {
    display: none;
}
section.s-block.s-block--fixed-banner.wide-placeholder {
    padding: 0 !important;
    margin: 0px !important;
}body#app {
    background: #fff !IMPORTANT;
}section.s-block.s-block--fixed-banner.wide-placeholder .container {
    padding: 0 !important;
}.top-navbar {display: none;
}.banner--fixed img {border-radius: 0px;}

.inner.bg-inherit {
    padding: 8px;
}

.header-btn__icon {border: none;}

.s-cart-summary-wrapper .sicon-shopping-bag:before {
    content: "";
    width: 35px;
    height: 17px;
    display: block;
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/Copy1.png) no-repeat !important;
    background-size: contain !important;
    margin-left: 5px;
}

.s-cart-summary-count {right: 29px;background: #FF0000;}

.leading-none .sicon-menu:before {
      content: "";
      width: 31px;
      height: 16px;
      display: block;
      background: url(https://raw.githack.com/cheikhoumou/Salla/main/Copy2.png) no-repeat !important;
      background-size: contain !important;
}

i.header-btn__icon.sicon-user-circle {
    margin-left: -10px;
    font-size: 21px;
}
footer.store-footer * {
    color: #000;
}
.store-footer .contact-social {
    border-top-width: 0px;
    margin: 0;
    padding: 0;
}.footer-is-light .store-footer .store-footer__inner:before {
    content: " ";
    background-image: url(https://raw.githack.com/cheikhoumou/Salla/main/img.svg) !important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 111px;
    margin-top: -47px;
    padding: 50px;
}
p.max-w-sm.leading-6.mb-6 {
    font-size: 14px;
    margin-right: 20px;
}
.s-apps-icons-list,salla-social.s-social-list.hydrated {
    justify-content: center;
    margin-top: 30px;
}

.s-contacts-list.s-contacts-list-vertical {
    margin-right: 20px;
    margin-top: 20px;
}@media (max-width:1000px) {
.flex.items-stretch.justify-between.relative {flex-direction: row-reverse;}
.flex.items-stretch.justify-between.relative .flex.items-center.justify-end {
    flex-direction: row-reverse;
    margin-right: 30px;
}b.s-cart-summary-total {
    display: none;
}
a.lg\:hidden.mburger.mburger--collapse.leading-none.rtl\:ml-4.ltr\:mr-4 {
    position: fixed;
    right: 11px;
}
.inner.bg-inherit {
    padding: 2px;
}}.navbar-brand img {
    max-width: 80px;
}.mm-spn.mm-spn--navbar ul * {
    font-family: "myfont3" !important;
}.mm-spn.mm-spn--navbar ul li a {
    padding: 12px !important;
    font-weight: 500;
    border: none !important;
}.mm-ocd__content {
    width: 170px !important;
    max-width: 300px !important;
}.mm-spn.mm-spn--navbar.mm-spn--main:after {
    display: block;
    content: "";
    width: 87px;
    background: url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/WlQgAA/C4rTSJP5mB2WoyUiRLnlUpYPA8TaawpIvu447f8Q.png) no-repeat;
    background-size: contain;
    margin: 12px !important;
}.sicon-cancel:before {
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/suCygjbA7HcMzdUnIzIbjrei1xK71bDoPM485UOe.png)  no-repeat;
    content: "";
    display: block;
    width: 11px;
    background-size: contain;
    height: 21px;
}button.btn--close-sm.close-mobile-menu.sicon-cancel.hidden {
    background: transparent;
    right: 175px;
}.sicon-user-circle:before {
    content: "";
    width: 35px;
    height: 17px;
    display: block;
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/%D9%84%D9%82%D8%B7%D8%A9%20%D8%B4%D8%A7%D8%B4%D8%A9%202024-05-14%20133742.png) no-repeat !important;
    background-size: contain !important;
}.s-cart-summary-count {
    visibility: hidden;
}
a.flex.items-center.m-0 {
    justify-content: center;
}footer.store-footer * {
    justify-content: center;
    align-items: center;
}.store-footer h3 {
    padding: 0px !important;
    margin: 0px !important;
    text-align: center;
    font-family: 'myfont3' !important;
    font-size: 15px;
    font-weight: 100;
}.store-footer__inner,.md\:flex.items-center.justify-between.py-4.container.text-center {
    background: #fff !important;
}
div.lg\:col-span-2.rtl\:lg\:pl-20.ltr\:lg\:pr-20 > a > h3 {
    display: none;
}.sicon-user-circle:before {
    width: 25px;
    height: 16px;
}footer > div.store-footer__inner > div > div:nth-child(2) > h3,div#contact-slot span.unicode {
    display: none;
}.store-footer__inner {
    padding: 0px;
}.store-footer a,.s-contacts-icon {
    border: none;
}.s-social-link a svg,.s-contacts-icon svg {
    font-size: 53px !IMPORTANT;
    height: 2rem;
    width: 1.1rem;
}.s-contacts-list.s-contacts-list-vertical {
    flex-direction: row;
}nav.breadcrumbs.w-full.py-5 {
    display: none;
}header.store-header + .container {
    padding: 0px;
}.main-content.md\:sticky.md\:overflow-hidden.top-24.w-full.md\:w-2\/4.md\:pb-16 {
    padding: 8px;
}.s-slider-horizontal .s-slider-thumbs,.flex.rtl\:space-x-reverse.space-x-3 {
    display: none;
}.px-5 ,.leading-7 {
    padding: 0;
}salla-slider.details-slider .s-slider-container {border: 0px;}
@media (max-width:999px) {
.main-nav-container {min-height: 0px;
}}
button.btn--wishlist.animated.sws.s-button-element.s-button-icon.s-button-outline.s-button-light-outline.s-button-loader-center {
    display: none;
}h1.text-xl.md\:text-2xl.leading-10.font-bold.mb-6.text-gray-800 {
    text-align: left;
    font-family: 'myfont1';
}h2.font-bold.text-xl.inline-block,h1.text-xl.md\:text-2xl.leading-10.font-bold.mb-6.text-gray-800 {
    display: none;
}salla-slider.details-slider .s-slider-container {border-radius: 0px;
}button.s-quick-buy-button.s-button-element.s-button-btn.s-button-outline.s-button-wide.s-button-primary-outline.s-button-loader-after {
    border: none;
    color: #fff;
    background: #0077ff;
    border-radius: 30px;
    font-family: 'myfont1' !important;
}button.undefined.s-button-element.s-button-btn.s-button-solid.s-button-wide.s-button-primary.s-button-loader-center {
    background: #fff;
    color: #000;
     border-radius: 30px;
}section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none {
    justify-content: center;
}.s-quantity-input-button {
    border: none !important;
}.s-quantity-input-container,.s-quantity-input-input {
    border: none;
}.s-product-options-colors-wrapper input[type=radio]+label span {
    border-radius: 0px;
    border: 1px solid;
    padding: 0;
    width: 21px;
    height: 21px;
}.s-product-options-colors-wrapper input[type=radio]:checked+label span:after {
    background: #000;
    border-radius: 0px;
    height: 13px;
    width: 13px;
}.s-product-options-option {
    display: flex;
    align-items: center;
}.s-product-options-option-label b span {
    display: none;
}.s-product-options-option-label {
    margin-left: 20px;
    font-weight: 300;
    display: block;
    width: 100px;
}.s-product-options-colors-wrapper input[type=radio]+label div {
    display: none;
}.s-product-options-colors-wrapper {gap: 1.6rem;}
.s-product-options-option-label small {
    display: none;
}.s-form-control, .s-datetime-picker-input {
    border-radius: 0px;
    width: 217px;
    border: none !important;
    background-color: #F0F0F0;
}.s-product-options-option-label b {
    width: 110px;
}.s-product-options-wrapper {
    display: flex;
    justify-content: center;
}.main-content.md\:sticky.md\:overflow-hidden.top-24.w-full.md\:w-2\/4.md\:pb-16 {
    display: flex;
    flex-flow: column-reverse;
}
