@import 'https://raw.githack.com/cheikhoumou/Salla/main/ceartsa.com1.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');
 * {font-family: "Noto Kufi Arabic", sans-serif;font-optical-sizing: auto;font-style: normal;}
    body:after {content: '';width: 100%;height: 100%;top: 0;position: fixed;z-index: 999999;
    background: #000e408f url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/RxlpY/qNcmxsXQK5qZHSsXya1XVJ0E7dl86DigEfpMe6yu.png);left: 0;background-repeat: no-repeat;background-position: center;background-size: 135px;transform:scale(0);animation-name: pupup_logo;animation-duration: 3s;backdrop-filter: blur(4px)
    }@keyframes pupup_logo {
        0% {
            transform: scale(0)
        }
    
        18% {
            transform: scale(1)
        }
    
        75% {
        background: #00cc939c url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/RxlpY/qNcmxsXQK5qZHSsXya1XVJ0E7dl86DigEfpMe6yu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 135px;
        transform: scale(1)
        }
    
        95% {
            transform: scale(1)
        }
    
        100% {
            transform: scale(0)
        }
    }
.loader-init {
    display: none!IMPORTANT
}body#app,.s-comments-product {
    background: #fff;
}
.flex.items-stretch.justify-between.relative {
    display: block
}

.flex.items-stretch.justify-between.relative .flex.items-center {
    display: block;
    height: 32px
}

a.navbar-brand {
    margin: auto;
    justify-content: center;
    position: relative;
    top: 15px
}

#mainnav>div>div>div>div.flex.items-center.justify-end {
    display: flex
}

#app>div.app-inner.flex.flex-col.min-h-full>header>div.top-navbar {
    display: none
}

i.sicon-menu.text-primary.text-2xl {
    color: #00cc93
}

#mainnav>div>div>div>div:nth-child(1)>a.lg\:hidden.mburger.mburger--collapse.leading-none.rtl\:ml-4.ltr\:mr-4 {
    position: relative;
    top: 23px
}
div#mainnav {
    height: 103px!important
}
.navbar-brand img {
    width: 170px;
    margin-top: 0
}

nav#mobile-menu {
    background: #000e40;
    border-radius: 10px;
    height: 0;
    color: #fff;
}
.header-btn__icon {
    height: 2rem;
    width: 2rem;
    border: none;
}
.s-cart-summary-count {
    top: -7px;
    background: #E91E63;
}
.sicon-user-circle:before {
    content: url(https://raw.githack.com/cheikhoumou/Salla/main/iconned3amek.svg);
}
.s-button-primary-outline,.s-button-primary {
    background: #00cc93 ! IMPORTANT;
    color: #fff;
    border-radius: 3px!IMPORTANT;
    border-color: #00cc93;
}
.s-button-primary-outline:hover {
    color: #fff
}
.text-primary {
    color: #00cc93
}
.s-product-card-content {
    text-align: center
}
.s-product-card-content-sub {
    justify-content: center
}
.s-product-card-vertical .s-product-card-image {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}
.rtl .fix-align,[dir=rtl] .fix-align {
    color: #00cc93;
    font-weight: 700
}
.s-slider-thumbs .s-slider-thumbs-container .swiper-slide.swiper-slide-thumb-active:after {
    box-shadow: none!important;
    border: 2px solid #00cc93
}
.btn--wishlist,button.btn--wishlist.animated.sws.s-button-element.s-button-icon.s-button-outline.s-button-light-outline.s-button-loader-center {
    display: none
}
button.s-social-share-btn.s-button-element.s-button-icon.s-button-outline.s-button-light-outline.s-button-loader-center {
    display: none
}
.flex.items-center.justify-end {
    position: relative;
    top: -17px
}
section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none>salla-add-product-button>salla-quick-buy .s-button-wide {
    background: 0 0!important;
    color: #00cc93;
    font-weight: 700;
    border: 1px solid #00cc93!important
}
.inner.bg-inherit {
    height: 95px
}
salla-slider .swiper-pagination-bullet-active {
    background-color: #00cc93
}
.s-product-card-vertical .s-product-card-wishlist-btn button {
    width: 25px;
    height: 25px;
    top: 0;
    border: none;
    color: #f87171;
    background: #00cc93!important;
    opacity: 1;
    left: 0px!IMPORTANT
}
a.s-login-modal-link {
    color: #00cc93;
    font-weight: 700
}
.s-tel-input-control {
    border-color: #00cc93!important
}
span.s-login-modal-header-icon {
    background: url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/RxlpY/qNcmxsXQK5qZHSsXya1XVJ0E7dl86DigEfpMe6yu.png) no-repeat;
    background-size: 88%;
    background-position: center
}
.s-login-modal-header-icon svg {
    fill: transparent
}
.swal2-container .swal2-popup.swal2-toast.swal2-icon-success {
    background: #00cc93!IMPORTANT
}
@media(max-width: 1023px) {
    a.navbar-brand {
        margin-top:-18px
    }
    #mainnav>div>div>div>div.flex.items-center.justify-end {
        margin-top: 5px;
        width: 54%;
        right: 47%
    }
    a.navbar-brand {
        position: unset;
    }
    div#mainnav {
        height: 52px!important
    }
    .fixed-header a.navbar-brand {
        margin-top: -21px;
    }
    .fixed-header .flex.items-center.justify-end {
        margin-top: -29px
    }
    nav#mobile-menu {
        height: 100%
    }
    .inner.bg-inherit {
        height: fit-content
    }
    .navbar-brand img {
        margin-top: 12px;
    }
}

div#mainnav {
    background: #000e40;
}
.s-cart-summary-total {
    display: none
}
#mainnav>div>div>div>div.flex.items-center.justify-end>button {
    margin-top: -4px;
    margin-left: -8px;
}
.s-product-card-vertical .s-product-card-wishlist-btn button {
    background: 0 0!important;
    color: #9ca3af
}
.s-product-card-entry {
    background: 0 0!important
}
.s-product-card-content-title a {
    font-size: 16px;
    color: #00cc93!important
}
.s-button-primary-outline {
    border-radius: 3px!important
}
.footer-is-light .store-footer,.footer-is-light .store-footer .store-footer__inner {
    background: #000e40;
    border: none;
}

#app>div.app-inner.flex.flex-col.min-h-full>footer>div.md\:flex.items-center.justify-between.py-4.container.text-center>span>p {
    display: none
}

.main-menu {
    justify-content: center;
    margin-top: 0
}

.s-product-options-wrapper,.bg-white {
    background: 0 0
}

.s-form-control,.s-quantity-input-input {
    background: 0 0
}

.s-add-product-button-with-quick-buy {
    flex-direction: column-reverse
}

section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none>salla-add-product-button>salla-quick-buy .s-button-wide {
    margin-bottom: 8px
}

div.main-content.md\:sticky.md\:overflow-hidden.top-24.w-full.md\:w-2\/4.md\:pb-16>form>section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none>salla-add-product-button>salla-button>button {
    width: 98.5%;
    margin-right: 2%
}

salla-slider.details-slider .s-slider-container {
    background-color: #00cc93;
}

.leading-10 {
    font-size: 28px!important
}

.s-button-primary-outline span {
    position: relative;
    top: 1.5px
}

div.main-content.md\:sticky.md\:overflow-hidden.top-24.w-full.md\:w-2\/4.md\:pb-16>form>section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none>salla-add-product-button>salla-button>button:before {
    content: " إضافة للسلة ";
    display: block;
    margin-top: 5px
}

div.main-content.md\:sticky.md\:overflow-hidden.top-24.w-full.md\:w-2\/4.md\:pb-16>form>section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none>salla-add-product-button>salla-button>button span {
    display: none
}

section.s-block.s-block--fixed-banner.wide-placeholder .container img {
    border-radius: 0!important
}

section.s-block.s-block--fixed-banner.wide-placeholder {
    margin: 0!important;
    object-fit: fill;
    background-size: contain
}

section.s-block.s-block--fixed-banner.wide-placeholder .container {
    padding: 0!important
}

.container {
    max-width: 2400px
}

.s-user-menu-trigger {
    background: 0 0
}

#trigger-slot>div>div.s-user-menu-avatar-wrap:before {
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 1px;
    right: 13px;
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/user-icon.svg) no-repeat;
    background-size: cover;
    background-position: center
}

#trigger-slot>div>div.s-user-menu-avatar-wrap {
    position: relative
}

.s-user-menu-avatar-wrap img {
    opacity: 0
}

.tamara-product-widget,.spotii-wrapper {
    background: 0 0;
    border: none!important;
    box-shadow: 0 0 5px #5d0f351c
}
#app>div.app-inner.flex.flex-col.min-h-full>footer>div.md\:flex.items-center.justify-between.py-4.container.text-center>ul>li.w-12.bg-white.rounded.p-1.flex-center {
    display: none
}.main-nav-container.fixed-pinned .navbar-brand img {
    max-height: 130px;
}

.sicon-menu:before {
    content: "\eed1";
    color: #00cc93;
}

.sicon-shopping-bag:before {
    content: "\ef39";
    color: #00cc93;
}
.s-product-card-content-footer .s-button-primary-outline .sicon-shopping-bag:before {
    content: "";
    background-image: url(https://i.ibb.co/LgDHYLn/system-regular-64-shopping-bag.gif);
    width: 25px;
    margin-left: 5px;
    height: 25px;
    background-size: contain;
    display: inline-block;
}

.s-product-card-content-footer .s-button-primary-outline {
    width: 100%;
    margin-left: auto;
    border-radius: 15px;
    text-align: center;
    background: var(--main-color);
    justify-content: center;
    display: flex;
    align-items: center
}
.s-product-card-content-footer .s-button-text {
    color: var(--second-color)!important;
    display: flex;
    justify-content: center;
    align-items: center
}.undefined {
    animation: signal 1200ms infinite;
}

@keyframes signal {
    0% {
        box-shadow: 0 0 0 0 #00cc93;
    }

    100% {
        box-shadow: 0 0 0 10px #fff;
    }
}

a.slide--cat-entry {
    border-radius: 20px;
    box-shadow: 0px 0 9px 0px #25111114;
}

.swiper-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.s-slider-v-centered .s-slider-block__title-nav button {
    background: #00cc93 !important;
}

.s-slider-v-centered .s-slider-block__title-nav button svg {
    fill: #fff;
}

nav.breadcrumbs.w-full.py-5 {
    display: none;
}
section.sticky-product-bar.bg-white.p-5.rounded-md.rounded-b-none {
    background: #fff !IMPORTANT;
}.store-footer__inner:before {
    content: " ";
    background-image: url('https://raw.githack.com/cheikhoumou/icons/main/img%20(2).svg') !important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 156px;
    margin-top: -66px;
}
@media (max-width: 1022px) {
  .store-footer__inner:before {
    content: " ";
    background-image: url('https://raw.githack.com/cheikhoumou/icons/main/img%20(2).svg') !important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 110px;
    margin-top: -33px;
}}.s-menu-footer-list {display: grid;grid-template-columns: 1fr 1fr;}

.s-menu-footer-list a {
    height: 35px;
    background: #00cc937d;
    padding: 10px;
    margin: 3px;
    border-radius: 8px;
    color: #ffffff;
}@media (max-width: 411px) {
.s-menu-footer-list a {
    font-size: 3vw;
}}/*center*/
.flex.mb-6, .md\:flex, .s-product-card-content-sub, .store-footer a, .s-product-card-content-title a, .store-footer .contact-social ul {
    text-align: center!important;
    justify-content: center !important;
}
.container.grid.grid-col-1.lg\:grid-cols-6.gap-8.lg\:gap-6:before {
    text-align: center;
    content: "";
    display: block;
    height: 85px;
    width: 140px;
    margin: auto auto 20px;
    background-image: url(https://cdn.salla.sa/cdn-cgi/image/fit=scale-down,width=400,height=400,onerror=redirect,format=auto/RxlpY/qNcmxsXQK5qZHSsXya1XVJ0E7dl86DigEfpMe6yu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}@media (min-width: 1024px) {
    .lg\:grid-cols-6 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
}}
#app > div.app-inner.flex.flex-col.min-h-full > footer > div.store-footer__inner > div > div.lg\:col-span-2.rtl\:lg\:pl-20.ltr\:lg\:pr-20 {
    display: none;
}
.store-footer h3 {
    color: #fff;
}
#app > div.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--features.container > div > div > div {position: relative;background: #ffffff;height: 5rem;width: 5rem;}

#app > div.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--features.container > div > div:nth-child(1) > div:before {
    content: "";
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/wired-outline-20-love-heart-hover-heartbeat.gif) no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 80%;
    background-position: center;
    position: absolute;
    top: 0;
}
#app > div.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--features.container > div > div:nth-child(2) > div:before {
    content: "";
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/wired-outline-298-coins-hover-spending.gif) no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 77%;
    position: absolute;
    top: 0;
    background-position: center;
}
#app > div.app-inner.flex.flex-col.min-h-full > section.s-block.s-block--features.container > div > div:nth-child(3) > div:before {
    content: "";
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/wired-outline-412-gift-hover-squeeze.gif) no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 80%;
    background-position: center;
    position: absolute;
    top: 0;
}
.s-block--features__item .feature-icon i {
    color: transparent !important;
}.s-product-card-entry img {
    transition: .3s
}.s-product-card-entry:hover img {
    scale: 1.12
}.s-slider-block__title-right h2:after {
    position: absolute;
    content: '';
    background-color: #00cc93;
    width: 75px;
    height: 4px;
    bottom: -6px;
    right: 1px;
    border-radius: 15px;
}

.s-slider-block__title-right h2:before {
    position: absolute;
    content: "";
    top: 22%;
    width: 14px;
    height: 14px;
    display: block;
    right: -20px;
    margin-top: -2px;
    -webkit-animation: rotateIn 3s infinite;
    -moz-animation: rotateIn 3s infinite;
    box-shadow: 3px 3px 0px 0px #231f1e;
    border-radius: 4px;
}

.s-slider-block__title-right h2:before {
    background: #00cc93 !important;
}

.s-slider-block__title-right h2{
    position: relative;
    margin-right: 27px;
    font-size: 18px;
    margin-top: 5px;
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    0%,to {
        -webkit-transform-origin: center
    }

    to {
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.s-product-card-entry {
    border: 2px solid #00cc93;
}
.s-slider-nav-arrow {
    background: linear-gradient(45deg, #00cc93, #16171b);
    border: none;
}.s-slider-nav-arrow svg {
    fill: #fff;
}.main-nav-container.fixed-pinned .inner {
    background: #000e4070;
    backdrop-filter: blur(7px);
}


.container.grid.grid-col-1.lg\:grid-cols-6.gap-8.lg\:gap-6 * {
    color: #fff;
}

#app > div.app-inner.flex.flex-col.min-h-full > section:nth-child(5) > div {grid-template-columns: 1fr 1fr 1fr;gap: 3px;}

.grid.one-row.md\:grid-cols-3.grid-flow-row.gap-3.sm\:gap-8 .banner-entry {
    width: 100%;
    height: 14vw;
}

.grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8 {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.grid.one-row.md\:grid-cols-2.grid-flow-row.gap-3.sm\:gap-8 a.banner-entry.square-photos {
    width: 100%;
    height: 30vw;
}

section.s-block.s-block--banners.container {
    margin-bottom: 1px;
    margin-top: 6px;
}

section.s-block.s-block--photos-slider {
    margin: 0;
}

.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    margin: 0;
    padding: 5px;
    margin-top: -19px;
}

.lazy__bg.lazy.entered.loaded {
    border-radius: 10px;
}
.store-footer h3,.md\:flex.items-center.justify-between.py-4.container.text-center:before {
    text-align: center;
    border-bottom: 2px dashed #00cc93c9;
    color: #00cc93c9 !important;
    padding-bottom: 10px;
    display: block;
    font-weight: bold;
    font-size: 17px;
}
.s-contacts-list.s-contacts-list-vertical {
    display: none;
}
.lg\:hidden.contact-social {
    padding: 0;
    border: none;
}
salla-social.s-social-list.hydrated {
    justify-content: center;
}
.s-social-link a {
    padding: 17px;
    background: #00a481;
    border-color: #00a481;
}
.s-social-link a svg {
    height: 1.1rem;
    width: 1.1rem;
}
.md\:flex.items-center.justify-between.py-4.container.text-center:before {
    content: " وسائل الدفع  ";
}
.store-footer__inner {
    padding-bottom: 0;
}
salla-payments.s-payments-list.hydrated {
    padding-top: 20px;
}
.mm-spn.mm-spn--navbar:after {
    background: rgb(0 204 147);
}
button.btn--close-sm.close-mobile-menu.sicon-cancel.hidden {
    background: rgb(0 204 147);
    padding: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 8px;
    left: 8px;
}
.mm-ocd__content {
    background: transparent;
}.s-user-menu-trigger {
    content: url(https://raw.githack.com/cheikhoumou/Salla/main/iconned3amek.svg);
    position: relative;
    right: 14px;
}
#app > div.app-inner.flex.flex-col.min-h-full > section:nth-child(13) {
    margin-top: 28px !important;
}
.md\:flex.items-center.justify-between.py-4.container.text-center:after {
    content: 'الحقوق محفوظة | ندعمك    ';
    display: block;
    color: #fff;
    margin-top: 10px;
}
