section[section-id="40e705ba-c353-4196-bb18-ae1c3c37f2b5"] {
    margin-top: -130px
}

div#fixed-header {
    background-color: #fff;
    background: #fff;
    padding-bottom: 0;
    border-radius: 0 0 20px 20px
}

.header-logo a[style="width: auto; height: 100%; display: block"] {
    justify-content: center;
    display: flex!important;
    width: 70%!important;
    right: 0!important
}

.div-bg-absolute.menu-header-theme-bg-primary {
    background: 0 0
}

img.image-logo {
    right: 0!important;
    min-height: 98px
}

a.ic.menu.icon-menu-top.d-block.d-lg-none {
    justify-content: start;
    display: flex;
    width: 26%
}

.header-theme-bg-primary {
    background-color: #fff;
    background: #fff;
    padding: 10px
}

@media only screen and (max-width: 768px) {
    img.image-logo {
        text-align:left;
        position: relative;
        right: 100%;
        min-height: 98px
    }

    .search-header .image-logo {
        padding: 10px 0;
        min-height: 68px!important
    }

    .search-header.header-theme-bg-primary {
        background: 0 0;
        border: 0
    }

    body[data-template=home] div#fixed-header {
        background: 0 0;
        border: 0
    }
}

.sticky .search-header.header-theme-bg-primary {
    background: #fff;
    border: 0;
    padding: 10px 20px;
    padding-bottom: 15px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 8px #22222236;
}

.sticky img.image-logo {
    min-height: 65px!important;
    transform: scale(1.5);
}

.header-theme-icon-primary {
    color: #fff
}

.account-lang-currency .account-btn {
    border-color: #fff;
    color: #fff
}

.language-currency {
    border-color: #fff;
    color: #fff
}

button.c-btn.currency-btn {
    color: #fff
}

button.c-btn.language-btn.d-flex.justify-content-between.align-items-center {
    color: #fff
}

span.icon-language_white::before {
    color: #fff
}

.icon-shopping_cart_black_36dp-1-1 .path1:before,.icon-shopping_cart_black_36dp-1-1 .path2:before {
    background-image: url(https://media.zid.store/b5f1b84b-9394-49d2-8ee8-c93bc24c9a28/81f42113-39ee-46b0-97da-6a666d3a856e.png);
    content: "";
    width: 20px!important;
    height: 20px!important;
    background-size: contain;
    margin: 0;
    display: block;
    background-repeat: no-repeat
}

span.icon-shopping_cart_black_36dp-1-1.header-theme-icon-primary span.path1 {
    display: none
}

.cart-badge {
    background-color: #132d2a;
    color: #d3b377
}

.icon-search:before {
    background-image: url(https://media.zid.store/b5f1b84b-9394-49d2-8ee8-c93bc24c9a28/945c3d82-3fff-4d04-914d-9daa3f1933d0.png);
    content: "";
    width: 20px!important;
    height: 20px!important;
    background-size: contain;
    margin: 0;
    display: block;
    background-repeat: no-repeat
}

.icon-arrow-right:before {
    color: #d3b377
}

.sm-search-div {
    background-color: transparent
}

.menu-header-theme-bg-primary-brightness-100 {
    background-color: #ffffff;
    border-radius: 25px 0 0 25px
}

.slide-menu li div[style="height: 250px"] {
    display: none
}

.icon-menu_open_black_24dp-1:before {
    background-image: url(https://media.zid.store/b5f1b84b-9394-49d2-8ee8-c93bc24c9a28/bfdf1392-5345-4643-b033-acd98e461eb3.png);
    content: "";
    width: 20px!important;
    height: 20px!important;
    background-size: contain;
    margin: 10px 0 0;
    display: block;
    background-repeat: no-repeat
}

.slide-menu ul {
    background: url(https://media.zid.store/cdn-cgi/image/h=175,q=100/https://media.zid.store/9edd6e77-f5fc-40df-8e32-5c6dde0caaba/e8e0e090-de27-4d68-85f0-b3136c0deb02.jpg)#ffffff center;
    margin: auto;
    display: block;
    padding-top: 113px;
    margin-top: 50px!important;
    text-align: center;
    background-repeat: no-repeat;
    height: 100px;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center!important
}

.slide-menu__backlink {
    margin-top: 60px
}

.category-item h3 {
    visibility: hidden
}

.home-categories-section.section-padding-space[section-id="6ace774a-3a29-446a-8893-a4a3bcb07036"] {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -70px;
    margin-top: 20px
}

.home-categories-section.section-padding-space[section-id="7300a716-82d3-47e9-b480-958036fdecc1"] {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -40px
}

@media only screen and (max-width: 768px) {
    .home-categories-section.section-padding-space[section-id="6ace774a-3a29-446a-8893-a4a3bcb07036"] {
        padding-top:0;
        padding-bottom: 0;
        margin-bottom: -100px;
        margin-top: -20px
    }

    .home-categories-section.section-padding-space[section-id="7300a716-82d3-47e9-b480-958036fdecc1"] {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: -30px
    }
}

.home-products-section.section-padding-space[section-id="2bd07aba-2e9a-42a9-8748-03d7a726b8a4"] {
    border-radius: 25px;
    margin-top: 0;
    background: #e9ebf4;
    background-repeat: round
}

.home-products-section.section-padding-space[section-id="19c2f3c7-092a-4e15-aee4-02cc153c0ec4"] {
    border-radius: 25px;
    margin-top: 35px;
    background: #e9ebf4;
    background-repeat: round
}

.home-products-section.section-padding-space[section-id=""] {
    border-radius: 25px;
    margin-top: 35px;
    background: #e9ebf4;
    background-repeat: round
}

.section-title {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 100;
    color: #132d2a
}

div[section-id="2bd07aba-2e9a-42a9-8748-03d7a726b8a4"] .section-title.theme-title-primary::before {
    content: "Special Offers";
    text-align: center!important;
    display: block;
    margin-bottom: 10px
}

div[section-id=fffe3691-f274-4f06-aae0-4ca25a10af4a] .section-title.theme-title-primary::before {
    content: "Piece of Fabric";
    text-align: center!important;
    display: block;
    margin-bottom: 10px
}

div[section-id="19c2f3c7-092a-4e15-aee4-02cc153c0ec4"] .section-title.theme-title-primary::before {
    content: "Primo Sada";
    text-align: center!important;
    display: block;
    margin-bottom: 10px
}

div[section-id="9c84510d-189e-42d3-8a49-0df8a9e4e2df"] .section-title.theme-title-primary::before {
    content: "Special fabrics";
    text-align: center!important;
    display: block;
    margin-bottom: 10px
}

div[section-id="058b9cd6-caa6-4f31-8167-65c805f5a470"] .section-title.theme-title-primary::before {
    content: "Perfumes";
    text-align: center!important;
    display: block;
    margin-bottom: 10px
}

.product-item .product-title {
    background: #fff;
    color: #132d2a;
    text-align: center;
    padding-top: 50px;
    border-radius: 20px 20px 0 0
}

.product-card-rating-wrapper {
    background: #fff;
    text-align: center
}

.product-crd-spec {
    background: #fff;
    text-align: center;
    border-bottom-right-radius: 20px
}

a.btn.btn-primary.product-card-add-to-cart {
    padding: 7px 20px;
    width: 120px;
    border-radius: 20px 20px 20px 0;
    font-size: 0;
    background: #132d2a;
    color: #fff;
    border: 0
}

a.btn.btn-primary.btn-product-card-select-variant {
    padding: 7px 20px;
    width: 120px;
    border-radius: 20px 20px 20px 0;
    font-size: 0;
    background: #132d2a;
    color: #fff;
    border: 0
}

a.btn.btn-primary.product-card-add-to-cart::before {
    content: " اضف للسلة ";
    text-align: center!important;
    font-size: 17px
}

a.btn.btn-primary.btn-product-card-select-variant::before {
    content: "Ø£Ø¶Ù Ù„Ù„Ø³Ù„Ø©";
    text-align: center!important;
    font-size: 17px
}

.product-item .box-1-1 {
    margin-bottom: -60px
}

.products-list .product-item .box-1-1 {
    margin-bottom: -80px
}

.products-list .product-item img {
    border-radius: 40px;
    width: 140px;
    height: 140px
}

.product-item img {
    border-radius: 40px;
    width: 150px;
    height: 150px
}

div[section-id=fffe3691-f274-4f06-aae0-4ca25a10af4a] .product-title {
    border-top: 1px solid #132d2a;
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a
}

div[section-id=fffe3691-f274-4f06-aae0-4ca25a10af4a] .product-card-rating-wrapper {
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a
}

div[section-id=fffe3691-f274-4f06-aae0-4ca25a10af4a] .product-crd-spec {
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a;
    border-bottom: 1px solid #132d2a
}

div[section-id="9c84510d-189e-42d3-8a49-0df8a9e4e2df"] .product-title {
    border-top: 1px solid #132d2a;
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a
}

div[section-id="9c84510d-189e-42d3-8a49-0df8a9e4e2df"] .product-card-rating-wrapper {
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a
}

div[section-id="9c84510d-189e-42d3-8a49-0df8a9e4e2df"] .product-crd-spec {
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a;
    border-bottom: 1px solid #132d2a
}

.footer {
    background: #132d2a;
    margin: 0 30px 30px;
    padding-bottom: 20px;
    border-radius: 30px 30px 30px 30px;
    color: #fff;
    text-align: center
}

.footer-theme-bg-primary {
    background: #132d2a;
    border-radius: 30px 30px 30px 30px;
    color: #fff
}

.footer-about-us-links-div h1.pb-2 {
    font-size: 18px
}

.footer-about-us-links-div p {
    font-size: 15px
}

.store-section .social-icons span {
    margin: 0 auto!important;
    color: #fff;
    border-color: transparent;
    text-align: center
}

.store-section .social-icons {
    justify-content: center;
}

button#product-view-add-to-cart {
    border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    padding: 13px 0;
    font-size: 20px
}

.btn-add-to-cart {
    position: fixed;
    bottom: -20px;
    right: 0;
    z-index: 1
}

.products-list .product-title {
    border-top: 1px solid #132d2a;
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a
}

.products-list .product-card-rating-wrapper {
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a
}

.products-list .product-crd-spec {
    border-left: 1px solid #132d2a;
    border-right: 1px solid #132d2a;
    border-bottom: 1px solid #132d2a
}

.subTitle-detail {
    background-color: transparent
}

.breadcrumb {
    background-color: #fff
}

.testimonials-customer-text {
    height: 170px;
    text-align: center;
    padding: 30px 10px 0;
    margin: 10px 0 0;
    font-size: 14px;
    color: #132d2a;
    background-image: url(https://media.zid.store/b5f1b84b-9394-49d2-8ee8-c93bc24c9a28/c42848d0-3444-43c0-9f4b-e49663c1e062.png);
    background-size: contain;
    background-repeat: no-repeat
}

.testimonials-customer-card {
    border: 0;
    box-shadow: none
}

.icon-account_circle_black_24dp:before {
    content: "\f007 ";
    color: #132d2a
}

section#product-description.mt-5 {
    background: #d3b477;
    padding: 8px;
    border-radius: 10px
}

.icon-fact_check_black:before {
    content: "\e945 ";
    color: #494949
}

div.reviews-break-down-div.description-paragrah {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #d3b477
}

div.card.card-review.mt-2.mb-5 {
    background-color: #1a1e74;
    border: 0;
    border-radius: 10px;
    color: #fff
}

.user-review-text {
    color: #fff
}

.cart-product-row-wrapper {
    border: 1px solid #d3b477;
    border-radius: 10px
}

input.form-control.send-coupon {
    border: 1px solid #132d2a;
    border-radius: 10px
}

.coupon-form.mt-5 .form-group {
    background-color: #132d2a;
    padding: 12px;
    border-radius: 10px
}

.product-features>div {
    font-size: 15px;
    font-weight: 700;
    color: #b10101
}

.category-item img {
    margin: 0 auto;
    max-width: 90%;
    margin: 0 9.5px
}

@media only screen and (max-width: 768px) {
    .products-slider,.categories-slider {
        display:flex
    }
}

@media(max-width: 768px) {
    .categories-slider .cat-col {
        display:inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        margin: auto
    }
}

button.c-btn.currency-btn {
    color: #132d2a
}

.language-currency {
    border-color: #132d2a
}

.account-lang-currency .account-btn {
    border-color: #132d2a;
    color: #132d2a
}

@media only screen and (max-width: 768px) {
    .slide-menu-static .upper-bar>div>div {
        margin:0 1.5px
    }
}
a.footer-marketing-link {
    display: none;
}

.home-categories-section.section-padding-space {
    padding-top: 15px;
    padding-bottom: 5px;
}
