body:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #262e23 url(https://www6.0zz0.com/2023/10/06/22/635872283.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    background-size: 90% !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
}
