@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    font-family: 'Cairo', sans-serif !important;
}.footer-main:before {
    content: "";
    background-image: url(https://drive.google.com/uc?id=12FtB3_a1johi_WLGBl_3J-UlX5-GnAwf) !important;
    background-size: 418%;
    display: block;
    background-repeat: round;
    height: 104px;
    margin: -37px -32px 1px 1px;
}.footer-main .container:before {
    text-align: center;
    content: "";
    display: block;
    height: 110px;
    width: 80px;
    margin: 20px auto;
    background-image: url(https://cdn.salla.sa/xjog/iGlWUVeY3yjN96ZX1Wzl9nAuSstFj7oasn4k3quC.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}footer * {
    text-align: center !important;
    margin: auto;
    color: #fff;
}footer .store-certificate img {
    transform: scale(2);
    margin: 15px auto;
}header.site-header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}.product.contain {
    box-shadow: 2px 3px 16px 0px #1605053b;
    width: 100%;
    border-radius: 15px;
}a.product-add.add_to_cart_btn {
    border-radius: 15px !important;
}li.social__item a {
    border: none !important;
    background: #571b23;
    border-radius: 50%;
}

.footer-sub {
    background: #a77900;
}

.salla-theme_6 footer .footer-sub .fs-cont .fs-payment img {
    background: #fff;
    margin: 6px;
    border-radius: 2px;
}.sub-nav-header::before {
    content: "";
    text-align: center !important;
    display: block;
    height: 80px !important;
    background-image: url(https://cdn.salla.sa/xjog/iGlWUVeY3yjN96ZX1Wzl9nAuSstFj7oasn4k3quC.jpg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
}.sub-nav-header img {
    display: none;
}a {
    color: #fff;
    font-weight: 600;
}span,.main-menu li i {
    color: #fff;
}.circle-action span:first-of-type:not(.notification-badge) {
    color: #5f202b;
    font-size: 20px;
}
