/* ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
   ┃                                                                              ┃
   ┃        ✦ تواصل مع الشيخ العابدين على واتساب : 20523820 ✦                     ┃
   ┃                                                                              ┃
   ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
*/
a.navbar-brand.p-1 {visibility: hidden;}.swiper-fade .swiper-slide video {visibility: hidden;}div#wa-angel {display: none;}
