/* ====================================== Genral ======================================= */

/* Logo           https://cdn.salla.sa/eQQap/EVDpCZ4UKRJwuRpZ51EUU65GyaD2ej14jzCixyWm.png */

/* Colors         Main #1b1e23   #eed06f  third    */

/* ====================================== Font ======================================= */

@font-face {
  font-family: "DINNextLTW23";
  src: url("https://cdn.salla.sa/PyXjn/1IlsJ1mfkzbuk8H0t1NA3pIIIj1P0oZKGAlkwskF");
  src: url("https://cdn.salla.sa/PyXjn/dNdQNhejQELbUTLdaQ3aigSkCysbcO594LEo8Ci5");
  font-weight: normal;
}
@font-face {
  font-family: "DINNextLTW23";
  src: url("https://cdn.salla.sa/PyXjn/iCYiPesiC9tJyeKs50xMDQ1mC3Q9cNlZNMTlRWST");
  font-weight: bold;
}
body,
*:not(i) {
  font-family: "DINNextLTW23" !important;
}
/* ====================================== Header ======================================= */
.site-header {
  box-shadow: none;
  background-color: #1b1e23;
}

.logo img {transform: scale(1.3);}
.login-link {
  margin-bottom: -6px !important;
}

/* header icons */
.header-wrapper .login-link,
.header-wrapper .toggle-search,
.circle-action.dropdown-toggle,
.btn.btn-primary {
  border-radius: 10px;
  background-color: #f6bd4b !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
  border: none;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.header-wrapper .site-header__cart,
.salla-theme_1 header.site-header #cl_switcher #cl_toggle {
  border-radius: 10px !important;
  background-color: #eed06f !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
  border: none;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.header-wrapper .login-link:hover,
.header-wrapper .toggle-search:hover,
.header-wrapper .site-header__cart:hover,
.circle-action.dropdown-toggle:hover,
.btn.btn-primary:hover {
  transform: translatey(-2px);
  color: #fff !important;
  border: none;
}
/* .sub-nav__menu svg {
          fill: #1b1e23;
        } */

/* أيقونة الإشعارات */
.circle-action.dropdown-toggle.notification-header-icon {
  padding: 6px;
}
/* أيقونة السلة */
.header-wrapper .site-header__cart {
  background-color: #ffffff !important;
  border: 1px solid #fcfcfc;
  color: #1b1e23 !important;
}
.header-wrapper .site-header__cart:hover {
  /* background-color: #1b1e23 !important;
        border: 1px solid #fff; */
  color: #fff !important;
}
.site-header__cart .badge {
  background: #eed06f;
  color: #fff;
}

/* ====================================== Login ======================================= */
/* login logo */
.icon-object.border-yellow-dark.text-yellow-dark {
  border: none;
  border-radius: 0;
  background-image: url("https://cdn.salla.sa/eQQap/EVDpCZ4UKRJwuRpZ51EUU65GyaD2ej14jzCixyWm.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-top: 10px;
}
.icon-object.border-yellow-dark.text-yellow-dark i {
  display: none;
}

/* ====================================== Navigation Desktop ======================================= */
.sub-nav .main-menu > li > a:not(.offers-link) {
  color: #eed06f !important;
  font-weight: bold;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.sub-nav .main-menu > li > a:hover {
  color: #1b1e23 !important;
}
/* two lines */

.main-menu > li:before,
.main-menu > li:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #1b1e23;
  transition: all 0.3s;
}
.main-menu > li:before {
  left: 0px;
  top: 10px;
}
.main-menu > li:after {
  right: 0px;
  bottom: 10px;
}

.main-menu > li:hover:before,
.main-menu > li:hover:after {
  opacity: 1;
  width: 100%;
}

/* ====================================== Navigation Mobile ======================================= */
/* الفئات */
.sub-nav .main-menu li.sub-menu-header.categories-holder > span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #eed06f;
  text-align: center;
}
.sub-nav .main-menu li.sub-menu-header.categories-holder > span i {
  /* display: none; */
  color: #eed06f;
}

.sub-menu-header .store-categories > li > a:not(.offers-link) {
  color: #1b1e23 !important;
  font-weight: bold;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

/*  الخلفية والزر */
.sub-nav-header {
  background: #1b1e23;
}
.sub-nav-header a {
  background-color: #eed06f;
  border-radius: 10px !important;
  color: #fff !important;
  border: 1px solid #1b1e23;
  padding: 3px 15px 1px;
}
.btn {
  border-radius: 4px !important;
}
/* ====================================== Sections Images ======================================= */

section.section > .container > .row:not(.products-grid):not(.products-listing) {
  display: grid !important;
  column-gap: 0px !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

section.section
  > .container
  > .row:not(.products-grid):not(.products-listing):before,
section.section
  > .container
  > .row:not(.products-grid):not(.products-listing):after {
  content: none;
}
section.section
  > .container
  > .row:not(.products-grid):not(.products-listing)
  > .col-md-4 {
  width: 100%;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.category-featured a:before {
  content: "";
  border: 1px solid #1b1e23;
  transition: all 0.3s ease-in-out;
  border-radius: 24px;
  margin: 5%;
  display: none;
}
section:nth-of-type(1).py-4.py-md-3 {
  padding-bottom: 0 !important;
}

/* أرتفاع صور الأقسام */
body:not(.salla-theme_6) .category-featured {
  padding-top: 100% !important;
  margin-bottom: 12px !important;
}

/*   ###############    الأقسام في الشاشات الصغيرة  #################  */

@media only screen and (max-width: 991px) {
  section.section
    > .container
    > .row:not(.products-grid):not(.products-listing) {
    grid-template-columns: 1fr 1fr !important;
  }
}
/* ====================================== Section ======================================= */
/* Title */
.section-header .section--title,
.section--title {
  color: #eed06f;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 0px 0px 10px #eed06f;
}
.section-header:before {
  content: "";
  display: none;
}

section.section {
  padding: 1rem 0 !important;
  margin-bottom: -1px;
}

/* عرض الكل */
.section .section-header .circle-action {
  color: #eed06f;
  background-color: #1b1e23;
  border: 1px solid #eed06f;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.section .section-header a.button-more,
body.salla-theme_1 .section-header .btn.btn-primary.btn-rounded {
  border-radius: 10px !important;
  padding: 2px 10px 10px !important;
  color: #eed06f !important;
  background-color: #1b1e23 !important;
  border: 1px solid #eed06f !important;
}
.section .section-header .circle-action:hover,
.section .section-header a.button-more:hover,
body.salla-theme_1 .section-header .btn.btn-primary.btn-rounded:hover {
  color: #fff !important;
  background-color: #eed057 !important;
  border: 1px solid #eed06f !important;
}
/* ====================================== Banners ======================================= */

/*   عرض البنرات ملئ الشاشة */
.banner img {
  margin: 0px auto !important;
  /* margin-top: -16px !important; */
}
section:nth-of-type(1) {
  margin-top: 0px !important;
}
.section-header.d-flex.justify-content-between.align-items-center.mb-4 {
  margin-top: 5px !important;
}
section:nth-of-type(1) .container.container.p-0.px-md-3,
section:not(:nth-of-type(4)) > .container.banner {
  padding: 0px !important;
  margin: auto !important;
  width: 100vw;
}

/* ################# First Banner ################# */
section.section[data-type="banner"]:first-of-type {
  margin-top: -1px !important;
  padding-top: 0px !important;
}
section.section[data-type="banner"] {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

section.section[data-type="banner"] > .container.banner {
  padding: 0px !important;
  width: auto !important;
}
section.section[data-type="banner"] .banner img {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
/* ################# Last Banner ################# */
section.section[data-type="banner"]:last-of-type {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

section.section[data-type="banner"]:last-of-type > .container.banner {
  padding: 0px !important;
  width: auto !important;
}
section.section[data-type="banner"]:last-of-type .banner img {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* ====================================== Product ======================================= */

.products-listing.eq-height .slick-track {
  padding-top: 5px !important;
}
.product {
  background-color: #fff !important;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 14px 0 rgba(34, 41, 47, 0.1);
}
/* إضافة للسلة */
/* .product-add {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.2rem 1rem 0.6rem;
    position: relative;
    padding: 4px 0 8px !important;
    display: block;
    text-align: center;
    border-radius: 10px !important;
    transition: all 0.3s ease;
    border: none;
    background: #1b1e23 !important;
    color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  }
  .product-add:hover {
    background: #1b1e23 !important;
    color: #fff;
  } */
.product-add:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95) !important;
}

/* body.salla-theme_1 .product .product-footer {
    display: block;
    border: none;
    margin-top: 8px !important;
  }
  .product-add:before {
    content: "أضف للسلة";
    display: block;
  }
  .product-add * {
    display: none;
  } */

/* .not-available {
    font-size: 1.2rem;
    background-color: rgba(245, 81, 87, 0.12);
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    display: block !important;
    text-align: center;
    font-weight: bold;
    border-radius: 10px !important;
    padding: 8px 0 10px !important;
  } */

/* ************* Start with icon ************* */
body .product .product-footer {
  display: block;
  border: none;
}
.not-available {
  background-color: rgba(245, 81, 87, 0.12);
  font-size: 1rem;
  margin: 10px 5% !important;
  font-size: 1.2rem;
  display: block !important;
  text-align: center;
  font-weight: bold;
  border-radius: 10px !important;
  padding: 8px 0 10px !important;
}
.product-add {
  font-size: 1rem;
  background-color: #1b1e23;
  color: #fff;
  margin: 10px 5% !important;
  padding: 0.35rem 0 !important;
  display: block;
  text-align: center;
  border-radius: 10px;
}
.product-add:before {
  content: "أضف للسلة";
  border-left: solid 2px white;
  padding-left: 1rem;
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
  color: white;
  font-weight: bold;
  line-height: 1.4;
}
.product-add span::before {
  color: transparent;
}
.product-add span {
  background-image: url("https://www3.0zz0.com/2023/08/13/12/419805882.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px 20px 0px -5px;
  padding: 7px 5px;
}
.product-add * {
  vertical-align: -4px;
}

/* ************* End with icon ************* */

/* توسيط بيانات المنتج */

body .product > a .product-title {
  text-align: center !important;
  /* color: #1b1e23 !important; */
  font-size: 1.2rem;
}
.price-before {
  color: #828282;
}
.product-subtitle {
  text-align: center !important;
  color: #191919;
}
.product-footer > .product-price {
  direction: rtl;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  color: #1b1e23 !important;
}
.product-footer > .product-price .price-before {
  direction: rtl !important;
  float: none !important;
  font-weight: normal;
  text-align: center;
  margin-right: 0.5rem;
}

/* =======================================   Customer Updates    ==================================== */
/* تغيير لون خلفية الموقع */
.store-home section.section,
.store-home section,
.store-home #sort,
.store-home section.u-light,
.main-slider.slick-initialized.slick-slider.slick-dotted {
  background-color: #1b1e23 !important;
}
/* خلفية عنوان القسم */
.section-header .section--title,
.section-actions {
  background-color: #1b1e23 !important;
}

/* ===  لون  أراء العملاء  ==== */

.testimonials-item {
  margin: 3px;
  background: #fff
    url("https://cdn.salla.sa/eQQap/4riA0FJ17P7sBAwddJhIYi4zEllOGTRInxU8ft3L.gif")
    top 2.5rem left 1rem/35px no-repeat !important;
  border: 1px solid #eeeeee;
  border-radius: 11px !important;
  box-shadow: 3.4px 5px 5px -3px rgb(0 0 0 / 9%);
}

.testimonials-item p {
  background: #fff;
  border-radius: 12px;
  color: #1b1e23;
  width: 88%;
  padding: 3rem 1rem 0.5rem;
  margin-bottom: 0px !important;
  text-align: right;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.testimonials-item p:before {
  border-top-color: #0f0f0f;
  display: none;
}
.testimonials-item cite {
  color: #000;
}
.testimonials-item img {
  display: none;
}
.testimonials-item__location {
  margin-right: 10px;
}
span.testimonials-item__author {
  color: #eed06f;
  margin-right: 26px;
}
.testimonials-item .rating {
  display: block;
  position: absolute;
  top: 13px;
  right: 106px;
  font-size: 19px;
  letter-spacing: 5px;
}

/* box shap */
cite.d-flex.pr-4 > div {
  margin-bottom: 8px;
}
.text-right {
  text-align: right !important;
  display: flex;
  align-items: center;
}

/* ===  لون   خلفية المنتج  ==== */

/* ====================================== Features ======================================= */
body > section.u-light.py-5.text-center > div > h2 {
  font-size: 0;
}
body > section.u-light.py-5.text-center > div > h2:before {
  content: "لماذا متجر توم ؟";
  font-size: 1.6rem;
  display: block;
  font-weight: bold;
  color: #f6bd4b;
}
/* مميزات المتجر */
.feature-item {
  flex: 0 0 28.333333%;
  max-width: 28% !important;
  border: none;
  border-radius: 4px;
  margin: 0px 2.5%;
  padding: 20px;
  margin-bottom: 10px;
}
.feature-item .feature-item__icon {
  background: transparent !important;
  color: #1b1e23;
}
.feature-item h3 {
  color: #f6bd4b;
  margin-top: 10px;
  font-size: 1.6rem;
  text-shadow: 0px 0px 10px #eed06f;
}
.feature-item p {
  color: #ffffff;
  font-size: 1.2rem;
}
/* أيقونااات متحركة للمميزات */

.feature-item .feature-item__icon {
  background-color: transparent !important;
  border: none;
  overflow: visible;
}
.feature-item .feature-item__icon:after {
  background-color: transparent;
}
.feature-item .feature-item__icon {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  border-radius: unset !important;
}

.feature-item:nth-of-type(1) .feature-item__icon {
  opacity: 1 !important;
  background-image: url("https://www12.0zz0.com/2023/08/13/12/864684436.png") !important;
  content: "" !important;
}
.feature-item:nth-of-type(2) .feature-item__icon {
  opacity: 1 !important;
  background-image: url("https://www12.0zz0.com/2023/08/13/12/995834770.png") !important;
  content: "" !important;
}
.feature-item:nth-of-type(3) .feature-item__icon {
  opacity: 1 !important;
  background-image: url("https://www12.0zz0.com/2023/08/13/12/649436548.png") !important;
  content: "" !important;
}

.feature-item .feature-item__icon i:before {
  content: none !important;
}
/* ====================================== Others ======================================= */

/* ============================== إشعار إتمام الدفع =========================== */

.bounce:before {
  content: " ";
  position: absolute;
  top: 86%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #eed06f transparent;
  -webkit-animation: fadeOut 7s;
  animation: fadeOut 7s;
  animation-fill-mode: forwards;
}
.bounce:after {
  content: "عرض السلة لإكمال الطلب";
  width: 120px;
  font-size: 9px;
  top: 120%;
  left: 50%;
  height: 30px;
  margin-left: -30px;
  background-color: #eed06f;
  color: #fff;
  text-align: center;
  padding: 0px 0;
  border-radius: 8px 2px;
  position: absolute;
  z-index: 1;
  -webkit-animation: fadeOut 7s;
  animation: fadeOut 7s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.3;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}

/* ====================== in product page ============= */
.cart-number {
  display: inline-grid;
  place-items: center;
}

/* أضافة للسلة */ /* اتمام الطلب */ /*  عودة للرئيسية */
.cart-fav .add-cart-large.add_to_cart_large_btn,
.page-container-cart .cart-next-button a,
.page-container-cart .cart-nav a {
  border-radius: 10px !important;
  border: 1px solid #1b1e23;
  background: #1b1e23 !important;
  color: #fff;
  font-weight: bold;
}
/* أزرار داخل السلة */
.cart-nav-submit,
.cart-nav-more,
.cart-nav-solid,
.cart-fav .add-cart-large.add_to_cart_large_btn {
  border: 1px solid #1b1e23;
  background: #1b1e23 !important;
  color: #fff;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}
.cart-nav-submit:hover,
.cart-nav-more:hover,
.cart-nav-solid:hover,
.cart-fav .add-cart-large.add_to_cart_large_btn:hover,
.page-container-cart .cart-next-button a:hover,
.page-container-cart .cart-nav a:hover {
  border: 1px solid #1b1e23;
  background: #1b1e23 !important;
  color: #fff;
}
/* إكمال الدفع */
.btn--submit.wide:after,
button#submit-form-btn {
  color: #fff !important;
}

/* in search page */
.products-grid.eq-height {
  margin-bottom: 15px;
}

/* ====================================== Footer ======================================= */
.footer-main {
  background-color: #1b1e23;
}
.footer-item p {
  color: #fff;
}

.footer-main .footer-item .footer-title span {
  color: #eed06f;
  font-size: 1.6rem;
  font-weight: bold;
}

.footer-main,
.footer-main .store-contact {
  text-align: center;
}
.footer-main .store-contact:first-of-type {
  margin-top: 1.2rem !important;
}
/*  تواصل معنا وتس  */
.store-contact a {
  color: #eed06f !important;
  padding: 2px 15px 6px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  border: 1px solid #eed06f !important;
  background: transparent !important;
  font-weight: bold;
}
.store-contact a:hover {
  color: #fff !important;
  background: #f6bd4b !important;
}
/* روابط */
.footer-links a {
  color: #1b1e23;
  text-decoration: none;
}
.footer-links a:hover {
  color: #1b1e23;
  text-decoration: underline;
}

/* icons شبكات التواصل */
.social__item a {
  color: #fff;
  border: 1px solid #1b1e23 !important;
  background-color: #1b1e23;
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}
.social__item a:hover {
  color: #1b1e23 !important;
  border: 1px solid #1b1e23 !important;
  background-color: #fff !important;
}
/* إخفاء صنع من سلة */
.footer-sub .footer-wrapper > p > span {
  display: none;
}

/* ====================================== Meadia Queries ======================================= */
/* login */
@media (max-width: 767px) {
  .site-header {
    background-size: 40%;
  }
  .salla-theme_1 header.site-header .logo-wrapper .logo img {
    height: auto !important;
    max-height: 40px !important;
  }

  body .section-header h2.section--title span {
    font-size: 1.4rem !important;
  }

  .modal .modal-dialog.modal-sm {
    width: auto !important;
    min-width: 300px;
  }
  .footer-main .footer-item .footer-title,
  .footer-main .footer-item .footer-title span {
    border: none;
  }
  .footer-links {
    columns: 1;
  }
  .product {
    border-radius: 12px;
  }
  .product-add {
    margin: 0.2rem 0.2rem 0.5rem !important;
  }
  .product-add:before {
    padding-left: 0.5rem;
  }
  .product-add span {
    margin: 5px;
  }
  .product .product-footer .product-price * {
    font-size: 16px !important;
  }

  /* مميزات المتجر */
  .feature-item {
    flex: 0 0 100%;
    max-width: 90% !important;
    margin: 0px 5%;
    padding: 15px 10px;
    margin-bottom: 20px;
  }
}

#toform a {
    margin: auto !important;
    background: #E57680;
    color: white !important;
    text-decoration: none;
    padding: 10px 24px 8px;
    border-radius: 24px;
    font-size: 1.1em !important;
    text-align: center;
}

.sub-nav__menu svg {
    background: #fff;
    border-radius: 6px;
}

body.store-home, body.store-home section[style="background: #FAFAFA;"]{
    background: #1b1e23 !important;
}


body > footer > div.footer-sub > div > div > div > div:nth-child(3) img {
    margin: 5px;
    background: #fff;
    border-radius: 5px;
    outline: 3px solid #fff;
}

.section--title span {
    text-shadow: 0px 0px 10px #eed06f;
}

.footer-sub {
    background: #1b1e23;
}
