@import url('https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css');
@import url('https://kit-free.fontawesome.com/releases/latest/css/free.min.css');
@font-face {
    font-family: 'excpo';
    src: url('https://cdn.salla.sa/BlmbO/mSGP56T900OLpx0YDmbICsq715PmpwqvGbjfhqhJ');
}
body, *:not(i) {
     font-family:  'excpo' !important;
}
@keyframes logobg {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    78% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

body.index:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #5e0b0db0 url(https://cdn.salla.sa/DAlvg/kgpskapzSKp3ubAD2AProQom5VMtrEBFzZApLU93.png);
    position: fixed;
    z-index: 99999999999999999 !important;
    transform: scale(0);
    background-size: 180px !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation-name: logobg;
    animation-duration: 2.3s;
    backdrop-filter: blur(5px);
}
@keyframes frist {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1);
    }
    100% {
        border-radius: 5rem;
        transform: scale(0);
    }
}
body.store-home:before {
    content: '';
    z-index: 1 !important;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://cdn.salla.sa/yXxNa/mmJCmsjInDOMJY1uuSEDvTJicR6JZa8XgzGlfili.png) #ffffff;;
    transform: scale(0);
    background-size: 12rem !important;
    background-repeat: no-repeat;
    background-position: center !important;
    animation: frist 1.5s;
}
.article--product-details {
    line-height: 31px;
    color: #096f7d !important;
    border-radius: 20px;
    padding: 14px;
    box-shadow: 0px 0px 20px #26090936;
    font-size: 14px;
}.article--product-details ul li strong {
    color: #096f7d !important;
}
@media (max-width: 767px){
  .home-block--square-images .col-md-4 {
    margin-bottom: -30px;
    width: 50%;
    padding: 3px !important;
}
#main-cart-btn i, .site-header .site-header__wrapper .header-side-panel-trigger {
    font-size: 27px;
  color:#fff;
}
}.home-block--square-images .col-md-4 {
    margin-left: auto;
    margin-right: auto;
}section.home-block.home-block--square-images {
    margin: 0 !important;
    padding: 0 !important;
}.sicon-cart:before {
    content: "\ef36";
}
@media (max-width: 600px){
  #site-header-outer .site-header {
    background-image: url(https://drive.google.com/uc?id=1DJzFWdhO93NF1ZWV5e6FuicT4JXZCHMD)!important;;
    display: block !important;
    background-position: center !important;
    background-size: cover!important;
    background-color: #381132;
}}footer.footer:before {
    content: " ";
    background-image: url(https://drive.google.com/uc?id=12FtB3_a1johi_WLGBl_3J-UlX5-GnAwf)!important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 110px;
}footer {
    background: linear-gradient(to right, #5E0C0E, #5E0A0C) !important;
}
footer *{
    color: #fff !important;
}
.footer__mid {
    border: none;
}.footer__bottom {
    background: linear-gradient(to right, #5E0C0E, #5E0A0C) !important;
}.footer-list--payment-methods {
    background: white !important;
    border-radius: 12px !important;
}.title--has-dash:before {
    background: #fff !important;
}.btn--floated.btn--add-to-cart {
    position: initial;
    display: block;
    width: calc(100% - 30px);
    border-radius: 99px !important;
    margin: 0px 15px 10px !important;
    font-size: 15px;
    transform: none !important;
    padding: 10px 10px 10px 5px!important;
    background: linear-gradient(to right, #5E0C0E, #2c0826) !important;
}.btn--floated.btn--add-to-cart .sicon-shopping-bag::before {
    content: 'إضافة للسلة' !important;
    font-weight: 700 !important;
    font-family: 'excpo' !important;
    color: #fff;
    margin-left: 6px;
}@media (max-width: 576px){
    .products-list-container .product-block h2 {
    font-size: 12px;
    text-align: center;
}}.store-links .mb-20 {
    color: white !important;
}@media (max-width: 576px){
  .footer__top .store-contact-info .title--primary {
    color: #ffffff !important;
}
}span.badge.badge--ribbon.badge--primary {
    background: linear-gradient(to right, #5E0C0E, #5E0A0C) !important;
}header#site-header-outer {
    box-shadow: none;
}.badge--danger {
    background: #D7A858;
    color: #ffffff;
    font-weight: bold;
}.footer__bottom .container>:last-child {
    display: none;
}
@media (max-width: 576px) {
  section.home-block.home-block--store-features .col-sm-12 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 0%;
}.home-block--store-features .container .row .col-sm-12 .store-feature p {
    font-size: 12px !important;
}.home-block--store-features .container .row .col-sm-12 .store-feature .title--large {
    font-size: 17px !important;
}}
.store-feature__icon {
    color: #faddab;
    background: linear-gradient(to right, #310607, #5E0A0C) !important;
}.footer__block p {
    line-height: 30px;
}


.title--primary ,.store-links .mb-20 {
    color: #D7A858 !important;
}

#header-mobiel-nav > div > div.store-about.d-flex.mb-40 {
    display: block !important;
    text-align: center;
    margin: auto;
}

body ul.footer-list--social-links li:hover a {
    background: #D7A858;
}
@keyframes float {
 0% {
  transform: translatey(0px);
 }
 50% {
  transform: translatey(-20px);
 }
 100% {
  transform: translatey(0px);
 }
}
@keyframes shadeanm {
 0% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
 50% {
  box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
 }
 100% {
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
 }
}
.store-feature__icon {
 animation: float 4s ease-in-out infinite, shadeanm 4s ease-in-out infinite;
}
.store-feature__icon:active{
  animation: none;
}.nav-mobile .main-nav {
    background: linear-gradient(to right, #5e0b0d, #935b5c) !important;
}.nav-mobile .main-nav li a {
    color: #fff;
}
.mm-spn span, .mm-spn a, .nav-mobile .main-nav .sub-menu ul li{
    margin: 5px auto;
    width: 98%;
    background: linear-gradient(to right, #5E0C0E, #5E0A0C);
    color: #fff;
    border-radius: 10px;
}
@media (max-width: 780px){
 .s-cart-summary-icon svg {
    fill: #fff;
    height: 1.8rem;
    width: 1.80rem;
}
}


[dir=rtl] .s-cart-summary-count {
    background: #d8ac5d;
}

.side-panel .store-about img {
    margin: auto;
    max-width: 160px;
    margin-bottom: 25px;
}

.side-panel__content {
    background: #5e0b0d80;
    backdrop-filter: blur(5px);
}

.side-panel__content * {
    color: #ecb32e !important;
}
