.blockslider-pagination.blockslider-pagination-square span {
	width: 45px;
	margin: 5 10px !important;
}@media (max-width: 999px) {
#header [data-row]>div div[data-column="middle"] {
    background: #909bb9;
    height: 17px !important;
    border-radius: 20px;
}
[data-header*="type-1"] .ct-header [data-row*="top"] {
    padding: 5px;
    background: #3b4f87;
}}.ct-header-trigger svg {
 width: 35px;
    max-width: 400px !important;
}[data-header*="type-1"] .ct-header [data-id="logo"] .site-logo-container {
    --logo-max-height: 50px;
}[data-header*="type-1"] .ct-header [data-row*="middle"] {
    --height: 60px;
}.ct-cart-item, .ct-social-box, .ct-account-item, .ct-header-compare, .ct-header-wishlist {
    transform: scale(1.3);
}[data-header*="type-1"] .ct-header [data-row*="top"] {
    --height: 36px;
}.wp-block-post-title a {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, 1);
}
span.woocommerce-Price-amount.amount bdi {
    color: #991b1b;
    font-weight: bold;
}
a.wp-block-button__link.wp-element-button.wc-block-components-product-button__button.add_to_cart_button.product_type_simple.has-font-size.has-small-font-size.has-text-align-center {
    position: relative;
    display: inline-flex;
    flex: 1 1 0%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: .75rem;
    border-style: solid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.625rem;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border-width: 1px;
    border-color: #3b4f87;
    background: none;
    color: #3b4f87;
}
a.wp-block-button__link.wp-element-button.wc-block-components-product-button__button.add_to_cart_button.product_type_simple.has-font-size.has-small-font-size.has-text-align-center:hover {
    transition: all 0.6s;
    background: #3b4f87;
    color: #fff;
    border-color: #3b4f87;
}
.editor-styles-wrapper .wc-block-grid__products .wc-block-grid__product .wc-block-components-product-image .wc-block-components-product-sale-badge--align-right, .wc-block-components-product-image .wc-block-components-product-sale-badge--align-right {
    display: none;
}figure.wp-block-image.size-full.is-resized.is-style-default,figure.wp-block-image.size-full {
    text-align: center;
}section.related.products > h2:before {
    content: "";
    width: 30px;
    background: url(https://raw.githack.com/cheikhoumou/Salla/main/icon.svg) no-repeat;
    height: 30px;
    background-size: cover;
    display: block;
    position: absolute;
    right: -38px;
}.uagb-slider-container.uagb-block-bd05c4e9 .swiper-pagination-bullet {
    background: linear-gradient(40deg, #3b4f87 0, #3b4f87 100%);
    box-shadow: 0 10.42px 50px rgb(10 192 109 / 31%);
    margin-bottom: -50px;
}span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 21px;
}.wp-block-image img {
    border-radius: 20px;
}ul.wc-block-grid__products {
    margin-top: 25px;
}.uagb-block-d43e5222 .uagb-faq-item .uagb-faq-questions-button.uagb-faq-questions {
    background: linear-gradient(40deg, #3b4f87ad 0, #3b4f87 100%);
    box-shadow: 0px 7px 19px rgb(10 192 109 / 18%);
    border-radius: 12px;
    color: #fff;
}.uagb-block-d43e5222 .uagb-faq-item {
    border-radius: 12px;
}span.uagb-icon.uagb-faq-icon-wrap {
    background: #3b4f87de;
    padding: 10px;
    border-radius: 50%;
}.woocommerce-page.woocommerce-checkout form #order_review td, .woocommerce-page.woocommerce-checkout form #order_review th, .woocommerce.woocommerce-checkout form #order_review td, .woocommerce.woocommerce-checkout form #order_review th {
    border: none;
}.woocommerce-js table.shop_table tr {
    box-shadow: inset 0px 1px 0px #3b4f87bd;
}li.wc_payment_method.payment_method_ppcp {
    display: none;
}.wc-empty-cart-message {
    margin-top: 20px;
}

p.return-to-shop {
    text-align: center;
}

a.button.wc-backward {
    background: linear-gradient(40deg, #3b4f87 0, #0a7b48 100%);
    box-shadow: 0 10.42px 50px rgb(10 192 109 / 31%);
    color: #fff;
    border-radius: 20px;
    padding: 13px;
    width: 185px;
    position: relative;
    top: 120px;
}

a.button.wc-backward:before {
    content: "";
    width: 90px;
    height: 90px;
    background: url(https://cardsrgb.com/wp-content/uploads/2024/08/icons8-add-to-basket-100.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 70px;
    right: 44px;
}
p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    margin-top: 160px;
    text-align: center;
    color: #3b4f87;
    position: relative;
    font-weight: bold;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received:before {
    content: "";
    height: 100px;
    background: url(https://cardsrgb.com/wp-content/uploads/2024/08/delivery-bro.png) no-repeat;
    position: absolute;
    top: -150px;
    display: block;
    width: 100%;
    background-size: 100px;
    background-position: center;
}

.woocommerce-js ul.order_details li {
    border-left: 1px dashed #3b4f87;
}

h2.woocommerce-order-details__title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #3b4f87;
    background: #f0f4ff !important;
    border: none !important;
    padding: 20px;
}

.woocommerce-js ul.order_details li strong {
    color: #3b4f87;
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
    border: none;
    background: #f0f4ff;
    !i;!;
}.site-footer:before {
    content: " ";
    background-image: url(https://raayeg.net/wp-content/uploads/2024/01/img-1.svg) !important;
    display: block !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100%;
    height: 108px;
    background: #3b4f87;
}.site-above-footer-wrap[data-section="section-above-footer-builder"] {
    background-color: #010f40 !important;
}.footer .widget > .widget-title > h3 {
    position: relative;
    color: #f1ffff;
    font-size: 15px;
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
    padding-bottom: 14px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-align: right;
    margin-right: 25px;
}.PageList .widget-content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 28px;
}.PageList .widget-content ul li a {
    background: #ffffff12;
    padding: 9px;
    border-radius: 8px;
    display: block;
    color: #fff;
    margin: 5px;
    text-align: center;
}

ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    display: flex;
    font-size: 11.5px;
    border: none !important;!i;!;
    margin-top: 20px;
    margin-bottom: 20px;
}

.woocommerce-thankyou-order-details li {
    border: none;
}

section.woocommerce-order-details {
    padding: 20px;
    background: #f0f4ff;
    border-radius: 20px;
}
/* s
section.related.products.is-width-constrained.ct-hidden-sm.ct-hidden-md {
    display: none !important;
}[data-header*="type-1"] .ct-header [data-row*="top"] {
    display: none !important;
}button.ct-header-search.ct-toggle,form.wp-block-search__button-outside.wp-block-search__text-button.wp-block-search {
    display: none;
}nav#header-menu-1 {
    display: none;
}

nav.mobile-menu.menu-container {
    display: none;
}*/
a.wp-block-button__link.wp-element-button.wc-block-components-product-button__button.add_to_cart_button.product_type_simple.has-font-size.has-small-font-size.has-text-align-center {
    height: 0 !important;
}div[data-device="mobile"] {
    display: flex;
    flex-direction: column-reverse;
}header.entry-header {
    display: none;
}.ct-container-full {
    padding-top: 0 !important;
}p.has-vivid-red-color.has-text-color.has-link-color.has-x-large-font-size {
    margin: 5px;
}.cart_totals.calculated_shipping {
    border: none !important;
    background: #edeef1;
    border-radius: 20px;
}
a.checkout-button.button.alt.wc-forward {
    border-radius: 15px;
}

button.button {
    border-radius: 15px !important;
}

.quantity[data-type=type-2] input[type=number] {
    border-radius: 7px !important;
    border-color: #edeef1;
}
.woocommerce-js table.shop_table tr {box-shadow: none;border: none !important;}

table.shop_table tr {
    --theme-table-border-width: 0px;
}.ct-order-review {
    border: none !important;
    background: #f8f8f8;
    border-radius: 20px;
    font-weight: bold;
}

h3#order_review_heading {}

select, textarea, input:is([type=url],[type=tel],[type=text],[type=time],[type=date],[type=datetime],[type=datetime-local],[type=email],[type=number],[type=search],[type=password]), fieldset .wc-stripe-elements-field, .ff-inherit-theme-style .ff-el-form-control:not([size]):not([multiple]) {
    width: 100%;
    border-radius: 11px;
}

p#billing_first_name_field {
    width: 100%;
}header.entry-header.ct-container-narrow h1 {
    font-size: 20px;
    color: #fff;
}

[data-prefix="woo_categories"] .hero-section[data-type="type-2"] {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b4f87;
    line-height: 80px;
}
.woocommerce-shipping-fields + .woocommerce-additional-fields {
    display: none;
}@media (max-width:690px) {
  [data-products] {
  --shop-columns: repeat(2, minmax(0, 1fr));
}}
[data-products] .product {
    background: #f8f8f8;
    padding-bottom: 25px;
    overflow: hidden;
    border-radius: 20px;
}.has-hover-effect img {border-radius: 20px;}
[data-products] .woocommerce-loop-product__title, [data-products] .woocommerce-loop-category__title {
    font-size: 14px;
    font-weight: bold;
}[data-products] .product .price {
    font-size: 12px;
    color: red;
    font-weight: bold;
}ul.entry-meta {
    display: none;
}form.checkout.woocommerce-checkout.ct-woocommerce-checkout {justify-content: center;grid-template-columns: repeat(1, minmax(0, 1fr));
}form.checkout.woocommerce-checkout.ct-woocommerce-checkout .ct-customer-details {display: none;}.woocommerce ul.order_details {
    list-style: none;
}.woocommerce ul.order_details li {
    position: relative;
    padding: 8px;
    font-weight: bold;
}.woocommerce ul.order_details li:before {
    content: "";
    position: absolute;
    right: -32px;
    top: 8px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://ziadhfi.com/wp-content/uploads/2025/01/cropped-cwLhHTeNU8flWLFUe1tlKyVbnfvysO5HXcf3lg8i.avif) no-repeat;
    background-size: 60%;
    background-color: #3b4f87;
    background-position: center;
    border-radius: 7px;
}.ct-container-full p {
    font-weight: bold;
    text-align: center;
}
