@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

.top-header {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none !important;
}
.site-header {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none !important;
}
b {
  color: white !important;
}

@media (max-width: 575.99px) {
  /* Sicon search */

  /* Header side panel trigger */
  .site-header .site-header__wrapper .header-side-panel-trigger {
    color: #ffffff;
  }

  /* Italic Tag */
}

@media (max-width: 576px) {
  /* Image */
  .site-header__wrapper .theme-logo img {
    transform: scale(1.31);
  }
}

/* Image */
.footer-list--payment-methods li img {
  padding-left: 0px;
}

.site-header {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: url(https://www8.0zz0.com/2022/07/15/18/788576519.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.top-header {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: none !important;
}
/* Footer */
footer {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ee018e70,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
b {
  color: white !important;
}

/* Product block */
.home-block .product-block {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.theme-logo img {
  transform: scale(0.7);
}

@media (max-width: 576px) {
  /* Open slide menu */
  .main-nav li .open-slide-menu {
    background-color: #faf9f6;
    font-size: 12px !important;
  }

  /* Link */
  .main-nav li a {
    background-color: #faf9f6;
    font-size: 12px !important;
  }

  /* Popup trigger */
  .main-nav li .popup-trigger {
    font-size: 12px !important;
  }
}
.header-block--nav-wrapper {
  background: #faf9f6 !important;
}
.footer__bottom {
  background: linear-gradient(to right, #ffc8ea, #f37777);
}
.less {
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8c2323,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

/* Span Tag */
.top-header a span {
  color: #ffffff !important;
}

/* Sicon mail */
.top-header a .sicon-mail {
  color: #ffffff !important;
}

/* Sicon phone talking */
.top-header a .sicon-phone-talking {
  color: #ffffff !important;
}

/* Button */
.home-block .title--x-large a {
  color: #ffffff;
  border-color: #ffffff;
  border-style: none;
}

@media (max-width: 576px) {
  /* Italic Tag */

  /* Sicon search */

  /* Header side panel trigger */
  .site-header .site-header__wrapper .header-side-panel-trigger {
    color: #000000;
  }
}

header .site-header__wrapper .theme-logo a img {
  transform: scale(1.2);
  margin-right: 6px;
}
header .site-header__wrapper .theme-logo a img:hover {
  transform: scale(1.8);
}
header .site-header__wrapper .theme-logo a img:active {
  transform: scale(1.8);
}
.btn--floated.btn--add-to-cart {
  position: initial;
  display: block;
  width: calc(100% - 30px);
  border-radius: 99px !important;
  margin: 0px 15px 10px !important;
  transform: none !important;
  padding: 5px 10px 10px 10px;
}
.btn--floated.btn--add-to-cart .sicon-shopping-bag::before {
  content: "إضافة للسلة" !important;
  font-weight: 700 !important;
  font-family: "Tajawal", sans-serif !important;
  color: #030405;
  margin-left: 6px;
}
.btn--add-to-cart i::after {
  content: "\ef36";
  margin-left: 8px;
  color: #000;
  font-weight: bold;
}
.btn--add-to-cart {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: all 0.4s ease !important;
}
.btn--primary,
.shipping-tracker > a {
  color: #fff;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn--add-to-cart:hover {
  background-color: #000 !important;
}
.btn--floated.btn--add-to-cart.disabled {
  background: rgba(245, 81, 87, 0.12) !important;
  color: #f55157 !important;
  opacity: 1 !important;
}
.btn--floated.btn--add-to-cart.disabled .sicon-shopping-bag::before {
  content: "نفدت الكمية" !important;
  color: #f55157 !important;
  opacity: 1 !important;
  margin-left: 7px;
}
.btn--add-to-cart.disabled i::after {
  content: "\ef36";
  display: none;
}
.btn--add-to-cart.disabled:before {
  width: 0%;
}

.disabled {
  background: rgba(245, 81, 87, 0.12) !important;
  color: #f55157 !important;
  opacity: 1 !important;
}
.badge--primary {
  color: #fff;
  background-color: #f44336;
  animation: blinkingBackground 5s infinite !important;
}
@keyframes blinkingBackground {
  0% {
    background-color: #fff0;
  }
  25% {
    background-color: #c6426e;
  }
  50% {
    background-color: #fff0;
  }
  75% {
    background-color: #c6426e;
  }
  100% {
    background-color: #fff0;
  }
}
@media (max-width: 576px) {
  /* Heading */
  .products-list-container .product-block h2 {
    font-size: 12px;
    text-align: center;
  }

  /* Price wrapper */
  .products-list-container .product-block .price-wrapper {
    text-align: center;
  }
}
/* Paragraph */
.footer__top .store-about p {
  color: #fcfcfc;
}

/* Title  primary */
.footer__top .store-about .title--primary {
  color: #fcfcfc !important;
}

/* Text unicode */
.store-contact-info a .text-unicode {
  color: #ffffff;
}

/* Sicon iphone */
.store-contact-info a .sicon-iphone {
  color: #ffffff;
}

/* Italic Tag */
.store-contact-info a i {
  color: #ffffff;
}

/* Paragraph */
.footer__top .store-about p {
  color: #fcfcfc;
}

/* Title  primary */
.footer__top .store-about .title--primary {
  color: #fcfcfc !important;
}

/* Text unicode */
.store-contact-info a .text-unicode {
  color: #ffffff;
}

/* Sicon iphone */
.store-contact-info a .sicon-iphone {
  color: #ffffff;
}

/* Italic Tag */
.store-contact-info a i {
  color: #ffffff;
}

@media (max-width: 576px) {
  /* Title  primary */
  .footer__top .store-contact-info .title--primary {
    color: #ffffff !important;
  }

  /* Footer  mid */
  .footer .footer__mid {
    border-style: none;
  }

  /* Span Tag */
  .footer__bottom span {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  /* Image */
  .home-block figure img {
    display: flex;
    grid-template-columns: 70px !important;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
    clear: both;
  }

  /* Column 4/12 */
  .home-block .col-sm-12 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 0%;
  }
}
.footer__block .sicon-instagram {
  color: white !important ;
}
.footer__block .sicon-twitter {
  color: white !important;
}

/* Heading */
.product-block h2 {
  text-align: center;
}

/* Price wrapper */
.product-block .price-wrapper {
  text-align: center;
}

@media (max-width: 575px) {
  /* Home block  products slider */
  .home-block--products-slider {
    height: 444px !important;
    transform: translatex(0px) translatey(0px) !important;
    padding-top: 12px !important;
  }
}
@media (max-width: 575px) {
  .home-block .product-block {
    width: 200px !important;
    height: 380px !important;
  }
  /* Home block */
  .home-block {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.store-links a {
  color: white !important;
}
.store-links .mb-20 {
  color: white !important;
}
.store-contact-info .mb-20 {
  color: white !important;
}
.footer__mid {
  border: none !important;
}
@media (max-width: 575px) {
  /* Paragraph */
  .home-block--store-features .container .row .col-sm-12 .store-feature p {
    font-size: 12px !important;
  }

  /* Title  large */
  .home-block--store-features
    .container
    .row
    .col-sm-12
    .store-feature
    .title--large {
    font-size: 17px !important;
  }
}
@media (max-width: 575px) {
  /* Button */
  .home-block--slide-products
    .container
    .row
    .col-sm-12
    .tabs-heads--center
    .tab-head
    .btn--padded {
    font-size: 11px !important;
  }
  .tab-head .btn--grey {
    border-radius: 20px;
    padding: 6px;
    height: 30px;
    background: #f5f3f1 !important;
    color: #37475a !important;
    font-weight: 600;
    display: inline !important;
  }
  .tab-head .btn--grey:hover {
    background: #ed213a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #93291e,
      #ed213a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #93291e,
      #ed213a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
@media (max-width: 575px) {
  .home-block--slide-products
    .container
    .row
    .col-sm-12
    .tabs-body
    .active
    .splide--loop
    .splide__track
    ul {
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
  }

  /* Span Tag */
  .store-certificate .store-certificate__text span {
    color: #ffffff;
  }
}
@media (max-width: 575px) {
  /* List Item */
  .home-block--slide-products .active li {
    margin-left: 15px;
  }

  /* List Item */
  .home-block--slide-products
    .container
    .row
    .col-sm-12
    .tabs-body
    .active
    .splide--products-slider
    .splide__track
    .splide__list
    li {
    width: 217px !important;
  }
}
.mb-20::before {
  background: white !important;
}
.footer__block .sicon-instagram:hover {
  color: black !important;
  font-weight: 700;
}
.footer__block .sicon-twitter:hover {
  color: black !important;
  font-weight: 700;
}
/* Splide  track */
.home-block--slide-products .active .splide__track {
  text-align: right;
}

@media (max-width: 575px) {
  /* Splide  track */
  .home-block--slide-products
    .container
    .row
    .col-sm-12
    .tabs-body
    .active
    .splide--products-slider
    .splide__track {
    padding-right: 13px !important;
  }

  /* Title  large */
  .home-block .container .row .col-sm-12 .title--x-large {
    top: 3px !important;
  }
}
@media (max-width: 575px) {
  /* Heading */
  .product-title h2 {
    font-size: 13px;
  }
  /* Italic Tag */
  .btn--add-to-cart i {
    font-size: 15px;
  }
}
.footer__block .sicon-snapchat {
  color: white !important;
}
.footer__block .sicon-tiktok {
  color: white !important;
}
.btn--add-to-cart {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.store-feature__icon {
  background: #ed213a; /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  border: none !important;
}

.btn--grey.active {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white !important;
  border: none !important;
}
.footer__block p {
  text-align: justify !important;
}
.footer-list--payment-methods {
  background: white !important;
  border-radius: 12px !important;
}
.theme-logo img {
  transform: scale(1.1);
}
@media (max-width: 480px) {
  /* Loaded */
  .home-block figure .loaded {
    width: 150px;
    height: 100px;
  }
}
.text-right {
  color: black !important;
}
.mt-10 b {
  color: rgb(255, 4, 4) !important;
  font-weight: 900 !important;
}
/* Span Tag */
.top-header ul div span {
  color: #020202 !important;
}

/* Span Tag */
.user-dropdown li:nth-child(2) span {
  color: #020202 !important;
}

/* Sicon cart */
.user-dropdown a .sicon-cart {
  color: #020202 !important;
}

/* Link */
.user-dropdown li:nth-child(3) a {
  transform: translatex(0px) translatey(0px);
}

/* Span Tag */
.user-dropdown li:nth-child(3) span {
  color: #020202 !important;
}

/* Span Tag */
.user-dropdown li:nth-child(4) span {
  color: #020202 !important;
}
.top-header a span {
  color: #000000 !important;
}
.store-feature__icon {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-block:nth-child(12) {
  width: 50%;
  display: inline-table;
  margin-right: -5px;
}
.home-block:nth-child(13) {
  width: 50%;
  display: inline-table;
  margin-right: -5px;
}
.home-block:nth-child(14) {
  width: 50%;
  display: inline-table;
  margin-right: -5px;
}
.home-block:nth-child(15) {
  width: 50%;
  display: inline-table;
  margin-right: -5px;
}
.home-block:nth-child(16) {
  width: 50%;
  display: inline-table;
  margin-right: -5px;
}
.home-block:nth-child(17) {
  width: 50% !important;
  display: inline-table !important;
  margin-right: -5px !important;
}
@keyframes frist {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    border-radius: 5rem;
    transform: scale(0);
  }
}
body.store-home:before {
  content: "";
  z-index: 1 !important;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(https://cdn.salla.sa/gRgEz/UJjAIzMOMRsG3F0bWvN55sXcQWo5kfG6lVs29AB7.png)
    #fff;
  transform: scale(0);
  background-size: 25rem !important;
  background-repeat: no-repeat;
  background-position: center !important;
  animation: frist 1.5s;
}
#login-with-email {
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black !important;
  border-radius: 22px !important;
}
#login-with-phone {
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black !important;
  font-weight: bold;
  border-radius: 22px !important;
}
.avatar-wrapper--primary {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc8ea,
    #f37777
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc8ea, #f37777);
}
.title--medium {
  font-weight: 700 !important;
}

.sicon-cart:before {
  content: "\ef36";
}

.store-feature * {
  font-weight: bold;
  font-weight: bold;
}

.sc-1au8ryl-0.dmopMx {
  display: none !important;
}
.footer:before {
  content: "";
  background-image: url(https://i.imgur.com/eAWGMd1.png);
  background-size: 418%;
  display: block;
  background-repeat: round;
  transform: rotate(180deg);
  height: 100px;
  margin: -33px -32px 1px 1px;
}
.footer > .container:before {
  text-align: center;
  content: "";
  display: block;
  height: 67px;
  width: 180px;
  margin: auto auto 20px;
  background-image: url(https://cdn.salla.sa/gRgEz/UJjAIzMOMRsG3F0bWvN55sXcQWo5kfG6lVs29AB7.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.avatar-wrapper--primary * {
  color: #000;
  font-weight: bold;
}
.nav-mobile .main-nav li a {
  font-weight: bold;
}
.nav-mobile .main-nav li a i {
  font-weight: bold;
}
